@{
    ViewBag.Title = "SchoolsProgramme";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>London Youth Games</h2></div>

    <div class="row">
        <div class="col-md-9">

            <div class="col-md-4 margin-bottom-25">
                <img class="img-responsive" src="@Url.Content("~/img/lyg.jpg")" alt="" />
            </div>
            <h3>
                <br />Live or go to school in Lambeth?
                <br />Aged between 11 and 18 years?
                <br />Play tennis?
                <br />Get involved!
            </h3>



        </div>
        <div class="col-md-3">
            <!-- Contacts -->
            <div class="headline"><h2>Contact</h2></div>
            If you would like further information or to register your interest please contact:
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="fa fa-home"></i>Julia Searle (Lambeth Tennis Team Manager)</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>juliasearle31@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>07816 004 992</a></li>
            </ul>

        </div>
        <div class="row">
            <div class="col-md-9">
                <p>
                    The Balfour Beatty London Youth Games is a regional competition in which young people from all 33 London Boroughs compete against each other in over 30 sports. Lambeth are hosting trials to select their squad to represent Team Lambeth in the Tennis competition. 

<br/> 
Teams are made up of a maximum of 8 Juniors and 8 Seniors (4 female & 4 male). Although as Lambeth, we pride ourselves on having a great support network on the day.                
</p>

                <h4>Age Group: LTA Rating</h4>
                Juniors: School Years 7 – 9 8.1 – 10.2
                <br />Seniors: School Years 7 – 12 5.2 – 10.2


                <h4>When and Where?</h4>
                <p>
                   2017 trials will be held on Sunday 26th March. 
				   Training for those selected as part of the squad will be offered free of charge from Sunday 2nd April until Sunday 16th of May 
				   (excluding the 9th & 16th April). The competition will take place at the National Tennis Centre (Roehampton, south west London) on 
				   Sunday 21st May. 

                    <br />Contact Julia for more information.
                </p>
            </div>
        </div>
    </div>



</div>


