@{
    ViewBag.Title = "Leagues";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="headline"><h2>Competition - Leagues</h2></div>

    <div class="row">
        <div class="col-md-9">
        </div>

    </div>

</div>

