@{
    ViewBag.Title = "Matchplay";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Competition - Matchplay</h2></div>

    <div class="row">
        <div class="col-md-9">

            <h3>April 19th 2015 - 5th July 2015<br />Sunday Matchplay sessions at Wigmore</h3>
            <p>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-check color-green"></i>
                        Results are submitted to the LTA and will count towards ratings
                    </li>
                    <li>
                        <i class="fa fa-check color-green"></i>
                        Only players aged 11-17
                    </li>
                    <li>
                        <i class="fa fa-check color-green"></i>
                        Boys and Girls mixed
                    </li>
                    <li>
                        <i class="fa fa-check color-green"></i>
                        Players will be entered on a first come first serve basis.

                    </li>
                    <li>
                        <i class="fa fa-check color-green"></i>
                        Maximum 2 matches played per person.
                    </li>
                    <li>
                        <i class="fa fa-check color-green"></i>
                        2 courts available from 17.00 – 20.00
                    </li>
                    <li>
                        <i class="fa fa-check color-green"></i>
                        Ratings 1 or 2 tiers higher will be accepted only when prioritized rating spots have not been filled.
                    </li>
                   
                </ul>
                Currently these sessions are only open to Wigmore members and are limited to 4 players per week. There is no charge for the matchplay sessions at present.
                Each date targets players of a specific rating. However, players of other ratings are welcome to apply and will be placed on a reserve list. Please note that all sessions are open to boys and girls.
            </p>
            <div class="panel panel-blue margin-bottom-40">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Priority Ratings</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>WEEK 1: 19/04/15</td>
                            <td>10.2 & 10.1</td>
                           
                        </tr>
                        <tr>
                            <td>WEEK 2: 26/04/15</td>
                            <td>9.2 & 9.1</td>
                         
                        </tr>
                        <tr>
                            <td>WEEK 3: 03/05/15</td>
                            <td>10.2 & 10.1</td>
                         
                        </tr>
                        <tr>
                            <td>WEEK 4: 10/05/15</td>
                            <td>9.2 & 9.1</td>
                        
                        </tr>
                        <tr>
                            <td>WEEK 5: 17/05/15</td>
                            <td>10.2 & 10.1</td>
                          
                        </tr>
                        <tr>
                            <td>WEEK 6: 24/05/15	</td>
                            <td>9.2 & 9.1</td>
                         
                        </tr>
                        <tr>
                            <td>WEEK 7: 31/05/15</td>
                            <td>10.2 & 10.1</td>
                          
                        </tr>
                        <tr>
                            <td>WEEK 8: 07/06/15</td>
                            <td>9.2 & 9.1</td>
                         
                        </tr>
                        <tr>
                            <td>WEEK 9: 14/06/15</td>
                            <td>10.2 & 10.1</td>
                          
                        </tr>
                        <tr>
                            <td>WEEK 10: 21/06/15</td>
                            <td>9.2 & 9.1</td>
                          
                        </tr>
                        <tr>
                            <td>WEEK 11: 28/06/15	</td>
                            <td>10.2 & 10.1</td>
                          
                        </tr>
                        <tr>
                            <td>WEEK 12: 05/07/15</td>
                            <td>9.2 & 9.1</td>
                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <!-- Contacts -->
            <div class="headline"><h2>Contact</h2></div>
            If you would like further information, or would like to participate in one of these sessions please contact:
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="fa fa-home"></i>Jimmy Callus</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>jimmy@tenniscoaching.london</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>0794 8441751</a></li>
            </ul>
            <img class="img-responsive" src="@Url.Content("~/img/LTA-logo.jpg")" alt="" />

        </div>
    </div>
</div>


