
@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Competition - Teams</h2></div>

    <div class="row">
        <div class="col-md-9">
            <h3>Team Tennis at Wigmore</h3>
            <p>
                From April-June 2015, Wigmore tennis club has eight junior teams and three adult teams participating in the Surrey Aegon Team Tennis competition.
                <br /><a href="https://lta.tournamentsoftware.com/sport/clubstandings.aspx?id=EE9BA235-9AC8-409C-96A1-5BBADA50D1CD&cid=3">
                Check out their latest league positions and results here
                </a>
            </p>
            <ul class="list-unstyled">
                We have entered the following teams for 2015
                <li><i class="fa fa-check color-green"></i> 8 and under 'A' mixed</li>
                <li><i class="fa fa-check color-green"></i> 8 and under 'B' mixed</li>
                <li><i class="fa fa-check color-green"></i> 9 and under mixed</li>
                <li><i class="fa fa-check color-green"></i> 12 and under boys</li>
                <li><i class="fa fa-check color-green"></i> 12 and under girls</li>
                <li><i class="fa fa-check color-green"></i> 14 and under boys</li>
                <li><i class="fa fa-check color-green"></i> 14 and under girls</li>
                <li><i class="fa fa-check color-green"></i> 16 and under boys</li>
                <li><i class="fa fa-check color-green"></i> Ladies 1</li>
                <li><i class="fa fa-check color-green"></i> Mens 1</li>
                <li><i class="fa fa-check color-green"></i> Mens 2</li>
            </ul>
        </div>
        <div class="col-md-3">
            <!-- Contacts -->
            <div class="headline"><h2>Contact</h2></div>
            If you would like further information, or would like to be considered for a place in a team please contact:
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="fa fa-home"></i>Joe Perkins</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>joe@tenniscoaching.london</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>07884 173 230</a></li>

            </ul>
            <img class="img-responsive" src="@Url.Content("~/img/aegon-team-tennis.jpg")" alt="" />

        </div>
    </div>
</div>
