@{
    ViewBag.Title = "Tournaments";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="row">
        <!--Striped Rows-->
        <div class="col-md-">
            <h2>Upcoming tournaments  </h2>
            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#grade4" data-toggle="tab">Grade 4 2016</a></li>
                    <li><a href="#grade5" data-toggle="tab">Grade 5 2016</a></li>
                    <li><a href="#wigmorecc" data-toggle="tab">Wigmore club championships 2016</a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="grade4">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img alt="" class="img-responsive img-tab-space" src="@Url.Content("~/img/junior-results.jpg")">
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>Mini/Junior/Adult Grade 4 Tournament (1st - 6th August 2016)</h4>

                                <p>
                                    Tournament entries are now open and close on the 20th July at 10am. Why not visit the LTA website beforehand and add to your watchlist so that you don't miss out!
                                    <br />You can <a href="http://www3.lta.org.uk/Competitions/Competition/?ctn=1-1KES1LF"> book on the lta website; the tournament code is sur15s0436</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="grade5">
                        <div class="row">

                            <div class="col-md-12">
                                <h4>Mini/Junior Grade 5 Tournaments (March-August 2016)</h4>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Start time</th>
                                            <th>Age group</th>
                                            <th>Gender</th>
                                            <th>Cost (£)</th>  
                                            <th>LTA tournament code</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>25th March 2016</td>
                                            <td>11:00am</td>
                                            <td>12 & Under</td>
                                            <td>Boys</td>
                                            <td>12</td>
                                            <td>SUR15W6157</td>
                                        </tr>
                                        <tr>
                                            <td>25th March 2016</td>
                                            <td>3:00pm</td>
                                            <td>12 & Under</td>
                                            <td>Girls</td>
                                            <td>12</td>
                                            <td>SUR15W6157</td>
                                        </tr>
                                        <tr>
                                            <td>25th March 2016</td>
                                            <td>3:30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>10</td>
                                            <td>SUR15W6037</td>
                                        </tr>
                                        <tr>
                                            <td>30th March 2016</td>
                                            <td>3:30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>10</td>
                                            <td>SUR15W6037</td>
                                        </tr>
                                        <tr>
                                            <td>30th March 2016</td>
                                            <td>3:30pm</td>
                                            <td>16 & Under</td>
                                            <td>Girls</td>
                                            <td>13</td>
                                            <td>SUR15W6173</td>
                                        </tr>
                                        <tr>
                                            <td>31th March 2016</td>
                                            <td>3:30pm</td>
                                            <td>10 & Under</td>
                                            <td>Boys</td>
                                            <td>12</td>
                                            <td>SUR15W6174</td>
                                        </tr>
                                        <tr>
                                            <td>31th March 2016</td>
                                            <td>3:30pm</td>
                                            <td>12 & Under</td>
                                            <td>Girls</td>
                                            <td>12</td>
                                            <td>SUR15W6174</td>
                                        </tr>
                                        <tr>
                                            <td>1st April 2016</td>
                                            <td>3:30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>
                                            <td>SUR16S3557</td>
                                        </tr>
                                        <tr>
                                            <td>1st April 2016</td>
                                            <td>3:30pm</td>
                                            <td>12 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>
                                            <td>SUR16S3556</td>
                                        </tr>
                                        <tr>
                                            <td>5th April 2016</td>
                                            <td>3:30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>
                                            <td>SUR16S3560</td>
                                        </tr>
                                        <tr>
                                            <td>5th April 2016</td>
                                            <td>3:30pm</td>
                                            <td>14 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>
                                            <td>SUR16S3559</td>
                                        </tr>
                                        <tr>
                                            <td>7th April 2016</td>
                                            <td>3:30pm</td>
                                            <td>16 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>
                                            <td>SUR16S3579</td>
                                        </tr>
                                        <tr>
                                            <td>31st May 2016</td>
                                            <td>3:30pm</td>
                                            <td>18 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>
                                            <td>SUR16S3582</td>
                                        </tr>
                                        <tr>
                                            <td>1st June 2016</td>
                                            <td>3:30pm</td>
                                            <td>9 & Under</td>
                                            <td>Girls</td>
                                            <td>12</td>
                                            <td>SUR16S3584</td>
                                        </tr>
                                        <tr>
                                            <td>2nd June 2016</td>
                                            <td>3:30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>
                                            <td>SUR16S3585</td>
                                        </tr>
                                        <tr>
                                            <td>3rd June 2016</td>
                                            <td>3:30pm</td>
                                            <td>10 & Under</td>
                                            <td>Boys</td>
                                            <td>13</td>
                                            <td>SUR16S3586</td>
                                        </tr>                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="wigmorecc">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img alt="" class="img-responsive img-tab-space" src="@Url.Content("~/img/junior-results.jpg")">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>
                                    Mini/Junior/Adult Wigmore Annual Club Championships
                                </h4>

                                <p>
                                    Adult Events will take place between April and Finals Day (27th June)
                                    <br />Mini and Junior events will take place between 8.30am and 12.30pm on the 27th June - please save the date.
                                    <br />We are running the following events (please note players may enter only 1 event)
                                    <ul class="list-unstyled">
                                        <li> <i class="color-green fa fa-check"></i>   8 & UNDER MIXED SINGLES </li>
                                        <li>  <i class="color-green fa fa-check"></i>  9 & UNDER MIXED SINGLES    </li>
                                        <li>  <i class="color-green fa fa-check"></i>  10 & UNDER MIXED SINGLES   </li>
                                        <li>  <i class="color-green fa fa-check"></i>  12 & UNDER BOYS SINGLES    </li>
                                        <li>  <i class="color-green fa fa-check"></i>  12 & UNDER GIRLS SINGLES   </li>
                                        <li>  <i class="color-green fa fa-check"></i>  14 & UNDER BOYS SINGLES    </li>
                                        <li>  <i class="color-green fa fa-check"></i>  16 & UNDER GIRLS SINGLES   </li>
                                        <li>  <i class="color-green fa fa-check"></i>  18 & UNDER BOYS SINGLES    </li>
                                    </ul>
                                    <br />Entries are now open. Please <a href="https://docs.google.com/forms/d/1Vkh9x0CWfUcvXQQo0_q4c4xeILwyKnYflIJEC5tOLlQ/viewform">register here.</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Striped Rows-->
    </div>
</div>

