@{
    ViewBag.Title = "Tournaments";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="row">
        <!--Striped Rows-->
        <div class="col-md-">
            <h2>Upcoming tournaments  </h2>
            <div class="tab-v1">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#grade4" data-toggle="tab">Grade 4 2015</a></li>
                    <li><a href="#grade5" data-toggle="tab">Grade 5 2015</a></li>
                    <li><a href="#wigmorecc" data-toggle="tab">Wigmore club championships 2015</a></li>
                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="grade4">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img alt="" class="img-responsive img-tab-space" src="@Url.Content("~/img/junior-results.jpg")">
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>Mini/Junior/Adult Grade 4 Tournament (3rd - 8th August 2015)</h4>

<p>Tournament entries open on the 18th June and close on the 20th July at 10am. Why not visit the LTA website beforehand and add to your watchlist so that you don't miss out!
<br />You can <a href="http://www3.lta.org.uk/Competitions/Competition/?ctn=1-1KES1LF"> book on the lta website; the tournament code is sur15s0436</a>.
</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="grade5">
                        <div class="row">
                           
                            <div class="col-md-12">
                                <h4>Mini/Junior Grade 5 Tournaments (April-August 2015)</h4>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Start time</th>
                                            <th>Age group</th>
                                            <th>Gender</th>
                                            <th>Cost (£)</th>
                                            <th>Closing date</th>
                                            <th>LTA booking ref and link</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>02 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>
                                            <td>26 Mar 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-439">SUR15S1898</a></td>
                                        </tr>
                                        <tr>
                                            <td>07 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>10 & Under</td>
                                            <td>Boys</td>
                                            <td>13</td>
                                            <td>31 Mar 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-440">SUR15S1593</a></td>
                                        </tr>
                                        <tr>
                                            <td>08 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>10 & Under</td>
                                            <td>Girls</td>
                                            <td>13</td>
                                            <td>01 Apr 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-441">SUR15S1594</a></td>
                                        </tr>
                                        <tr>
                                            <td>08 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>

                                            <td>01 Apr 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-442">SUR15S1901</a></td>
                                        </tr>
                                        <tr>
                                            <td>09 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>9 & Under</td>
                                            <td>Girls</td>
                                            <td>12</td>

                                            <td>02 Apr 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-443">SUR15S1599</a></td>
                                        </tr>
                                        <tr>
                                            <td>10 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>

                                            <td>03 Apr 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-444">SUR15S1903</a></td>
                                        </tr>
                                        <tr>
                                            <td>10 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>9 & Under</td>
                                            <td>Boys</td>
                                            <td>12</td>

                                            <td>03 Apr 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-445">SUR15S1598</a></td>
                                        </tr>
                                        <tr>
                                            <td>26 May 2015</td>
                                            <td>3.30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>

                                            <td>19 May 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-446">SUR15S1905</a></td>
                                        </tr>
                                        <tr>
                                            <td>26 May 2015</td>
                                            <td>3.30pm</td>
                                            <td>9 & Under</td>
                                            <td>Girls</td>
                                            <td>12</td>

                                            <td>19 May 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-447">SUR15S1904</a></td>
                                        </tr>
                                        <tr>
                                            <td>27 May 2015</td>
                                            <td>3.30pm</td>
                                            <td>10 & Under</td>
                                            <td>Boys</td>
                                            <td>13</td>

                                            <td>20 May 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-448">SUR15S1906</a></td>
                                        </tr>
                                        <tr>
                                            <td>28 May 2015</td>
                                            <td>3.30pm</td>
                                            <td> 8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>

                                            <td>21 May 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-449">SUR15S1909</a></td>
                                        </tr>
                                        <tr>
                                            <td>20 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>10 & Under</td>
                                            <td>Girls</td>
                                            <td>13</td>

                                            <td>13 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-450">SUR15S2171</a></td>
                                        </tr>
                                        <tr>
                                            <td>21 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>10 & Under</td>
                                            <td>Boys</td>
                                            <td>13</td>

                                            <td>14 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-451">SUR15S2172</a></td>
                                        </tr>
                                        <tr>
                                            <td>22 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>

                                            <td>15 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-452">SUR15S2776</a></td>
                                        </tr>
                                        <tr>
                                            <td>24 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>

                                            <td>17 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-453">SUR15S2777</a></td>
                                        </tr>
                                        <tr>
                                            <td>28 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>

                                            <td>21 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-454">SUR15S2780</a></td>
                                        </tr>
                                        <tr>
                                            <td>10 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>10 & Under</td>
                                            <td>Girls</td>
                                            <td>13</td>

                                            <td>03 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-455">SUR15S2416</a></td>
                                        </tr>
                                        <tr>
                                            <td>11 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>9 & Under</td>
                                            <td>Boys</td>
                                            <td>12</td>

                                            <td>04 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-456">SUR15S2423</a></td>
                                        </tr>
                                        <tr>
                                            <td>12 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>

                                            <td>05 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-457">SUR15S3176</a></td>
                                        </tr>
                                        <tr>
                                            <td>14 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>

                                            <td>07 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-458">SUR15S3177</a></td>
                                        </tr>
                                        <tr>
                                            <td>18 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed  </td>
                                            <td>11</td>

                                            <td>11 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-459">SUR15S3178</a></td>
                                        </tr>
                                        <tr>
                                            <td>19 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>9 & Under</td>
                                            <td>Boys</td>
                                            <td>12</td>

                                            <td>12 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-460">SUR15S2441</a></td>
                                        </tr>
                                        <tr>
                                            <td>20 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>8 & Under</td>
                                            <td>Mixed</td>
                                            <td>11</td>

                                            <td>13 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-461">SUR15S3179</a></td>
                                        </tr>
                                        <tr>
                                            <td>20 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>9 & Under</td>
                                            <td>Girls</td>
                                            <td>12</td>

                                            <td>13 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-462">SUR15S2443</a></td>
                                        </tr>
                                        <tr>
                                            <td>21 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>10 & Under</td>
                                            <td>Boys</td>
                                            <td>13</td>

                                            <td>14 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-463">SUR15S2446</a></td>
                                        </tr>
                                        <tr>
                                            <td>24 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>10 & Under</td>
                                            <td>Girls</td>
                                            <td>13</td>

                                            <td>17 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/0&status=/4/5/6&cn=Wigmore+Ltc&page=0&club=1-14H-464">SUR15S2750</a></td>
                                        </tr>
                                        <tr>
                                            <td>01 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>16 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>

                                            <td>25 Mar 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/1&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S1590</a></td>
                                        </tr>
                                        <tr>
                                            <td>01 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>14 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>

                                            <td>25 Mar 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/1&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S1591</a></td>
                                        </tr>
                                        <tr>
                                            <td>03 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>12 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>

                                            <td>27 Mar 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/1&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S1900</a></td>
                                        </tr>
                                        <tr>
                                            <td>29 May 2015</td>
                                            <td>3.30pm</td>
                                            <td>16 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>

                                            <td>22 May 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/1&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S1911</a></td>
                                        </tr>
                                        <tr>
                                            <td>23 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>12 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>

                                            <td>16 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/1&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S2175</a></td>
                                        </tr>
                                        <tr>
                                            <td>27 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>16 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>

                                            <td>20 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/1&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S2182</a></td>
                                        </tr>
                                        <tr>
                                            <td>29 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>14 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>

                                            <td>22 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/1&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S2184</a></td>
                                        </tr>
                                        <tr>
                                            <td>30 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>18 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>

                                            <td>23 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/1&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S2185</a></td>
                                        </tr>
                                        <tr>
                                            <td>13 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>14 & Under</td>
                                            <td>Boys</td>
                                            <td>14</td>

                                            <td>06 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/1&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S2431</a></td>
                                        </tr>
                                        <tr>
                                            <td>02 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>14 & Under</td>
                                            <td>Girls</td>
                                            <td>14</td>

                                            <td>26 Mar 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/2&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S1592</a></td>
                                        </tr>
                                        <tr>
                                            <td>03 Apr 2015</td>
                                            <td>3.30pm</td>
                                            <td>12 & Under</td>
                                            <td>Girls</td>
                                            <td>14</td>

                                            <td>27 Mar 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/2&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S1900</a></td>
                                        </tr>
                                        <tr>
                                            <td>22 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>12 & Under</td>
                                            <td>Girls</td>
                                            <td>14</td>

                                            <td>15 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/2&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S2174</a></td>
                                        </tr>
                                        <tr>
                                            <td>24 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>14 & Under</td>
                                            <td>Girls</td>
                                            <td>14</td>

                                            <td>17 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/2&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S2177</a></td>
                                        </tr>
                                        <tr>
                                            <td>28 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>16 & Under</td>
                                            <td>Girls</td>
                                            <td>14</td>

                                            <td>21 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/2&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S2183</a></td>
                                        </tr>
                                        <tr>
                                            <td>31 Jul 2015</td>
                                            <td>3.30pm</td>
                                            <td>18 & Under</td>
                                            <td>Girls</td>
                                            <td>14</td>

                                            <td>24 Jul 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/2&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S2189</a></td>
                                        </tr>
                                        <tr>
                                            <td>12 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>12 & Under</td>
                                            <td>Girls</td>
                                            <td>14</td>

                                            <td>05 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/2&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S2428</a></td>
                                        </tr>
                                        <tr>
                                            <td>18 Aug 2015</td>
                                            <td>3.30pm</td>
                                            <td>16 & Under</td>
                                            <td>Girls</td>
                                            <td>14</td>

                                            <td>11 Aug 2015</td>
                                            <td><a href="http://www3.lta.org.uk/Competitions/Search/Results/#/?gen=/2&status=/4/5/6&cn=Wigmore+Ltc&club=1-14H-439">SUR15S2440</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                             

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="wigmorecc">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img alt="" class="img-responsive img-tab-space" src="@Url.Content("~/img/junior-results.jpg")">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>Mini/Junior/Adult Wigmore Annual Club Championships
</h4>

                                <p>Adult Events will take place between April and Finals Day (28th June)
                                <br />Mini and Junior events will take place between 8.30am and 12.30pm on the 28th June - please save the date. Entry information will follow shortly.
       </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Striped Rows-->
    </div>
</div>

