@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>About JTennis</h2></div>

    <p>JTennis was founded in 2015 by Julia Searle.
    <br/>Our mission is to get more people in Britain playing more tennis by making tennis more accessible, more affordable and more fun.
    </p>
    <ul class="list-unstyled">
        Our values:
        <li><i class="fa fa-check color-green"></i>	To provide professional and consistent customer service</li>
        <li><i class="fa fa-check color-green"></i>	To provide top quality tennis coaching</li>
        <li><i class="fa fa-check color-green"></i>	To provide a consistent customer experience regardless of age, ability or background</li>
        <li><i class="fa fa-check color-green"></i>	To remain focussed on our mission</li>
        <li><i class="fa fa-check color-green"></i>	To never stop developing</li>
    </ul>
</div>


