@{
    ViewBag.Title = "Contact response";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Form Submission</h2></div>

    <p>Thank you for contacting us, we will be back in touch shortly.
    </p>

</div>


