
@{
    ViewBag.Title = "Tips";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Tours and Holidays</h2>

2015 - 2016 will see the launch of our tennis tours and holidays. 
<p>
    This years programme will include:
    <ul class="list-unstyled">
        <li><i class="color-green fa fa-check"></i>International training camp for the more serious player</li>
        <li><i class="color-green fa fa-check"></i>A UK junior tournament week</li>
        <li><i class="color-green fa fa-check"></i>A relaxing tennis holiday abroad</li>
    </ul>
   
</p>


