@{
    ViewBag.Title = "Holidays";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <h2>Tours and Holidays</h2>


            <p>
                This years programme will include:
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i>International training camp for the more serious player</li>
                    <li><i class="color-green fa fa-check"></i>A UK junior tournament week</li>
                    <li><i class="color-green fa fa-check"></i>A relaxing tennis holiday abroad</li>
                </ul>

            </p>
        </div>

        <div class="col-md-3">
            <img class="img-responsive" src="@Url.Content("~/img/tenerife-at-night.jpg")" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
        <div class="headline">
            <h2>
                Tennis Training Camp in Tenerife - October 2015</h2></div>
                <h4>About the Camp</h4>
                <p>
                    Come away with us to our tennis camp, giving you the opportunity to immerse yourself in a tailor-made intensive programme while taking a break and enjoying a holiday at the same time.
                    Our camp is designed for our stronger adult players (high team standard or equivalent), as well as our performance juniors. It is open to Wigmore members and non members alike.
                    The camp is led by George Cupsa, former ATP world ranked player and coach to several WTA world top 100 players.
                </p>
                <h4>When and Where?</h4>
                <ul class="list-unstyled">
                    <li>
                        <i class="color-green fa fa-check"></i>
                        20th – 27th October 2015
                    </li>
                    <li> <i class="color-green fa fa-check"></i>	Playa de las Americas, Tenerife</li>
                </ul>
                <h4>What is Included?</h4>
                <ul class="list-unstyled">
                    <li> <i class="color-green fa fa-check"></i>	Return flights from London-Gatwick</li>
                    <li> <i class="color-green fa fa-check"></i>	7 nights accommodation at the 4* Hotel H10 Las Palmeras</li>
                    <li> <i class="color-green fa fa-check"></i>	Twin room accommodation with a balcony or terrace</li>
                    <li> <i class="color-green fa fa-check"></i>	All-Inclusive package</li>
                    <li> <i class="color-green fa fa-check"></i>	2-3 hours of training per day (total of 15 hours) with a maximum coach player ratio of 1:4</li>
                    <li> <i class="color-green fa fa-check"></i>	Unlimited additional court time per day (subject to court availability)</li>
                    <li> <i class="color-green fa fa-check"></i>	Airport transfer to and from hotel</li>

                </ul>
                <h4>About the Hotel</h4>
                <ul class="list-unstyled">
                    For more information please visit the <a href="https://www.h10hotels.com/en/tenerife-hotels/h10-las-palmeras/"> resort website</a>
                    <li> <i class="color-green fa fa-check"></i>	4 * Accommodation</li>
                    <li> <i class="color-green fa fa-check"></i>	Next to the sea with direct access to the seafront</li>
                    <li> <i class="color-green fa fa-check"></i>	3 outdoor swimming pools</li>
                    <li> <i class="color-green fa fa-check"></i>	Air conditioned gym</li>
                    <li> <i class="color-green fa fa-check"></i>	Average October temperature is 22 degrees</li>
                </ul>

               
            </div>
        <div class="col-md-3">
            <!-- Contacts -->
            <div class="headline"><h2>How to Register?</h2></div>
            <a href="https://payableform.appspot.com/forms/jjp6a">Book here</a>
            <p>   The cost of the tennis camp is £1200.
            <br />To reserve your place, a non-refundable deposit of £350 by the 1st August.
            <br/>The balance is due by the 1st September.
            <br />Places are limited.
            <br />Non-tennis playing partners/friends are also welcome to attend. The cost of the holiday excluding the tennis training is £900.

            <img class="img-responsive" src="@Url.Content("~/img/tenerife-site-overview.jpg")" alt="" />
            <img class="img-responsive" src="@Url.Content("~/img/tenerife-tennis-court.jpg")" alt="" />
            </p>
        </div>
        </div>
    </div>