@{
    ViewBag.Title = "Mailing list response";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Mailing list submission</h2></div>

    <p>Thank you for contacting us, you have been added to our mailing lists.
    </p>
    <p>We will contact you from time to time with details of our upcoming courses and events.</p>

</div>


