@{
    ViewBag.Title = "Recruitment";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Working at JTennis</h2></div>

    <p>We are always on the lookout for individuals to join our fantastic team of tennis coaches.
    </p>
    <ul class="list-unstyled">Are you:
    <li><i class="fa fa-check color-green"></i>Passionate about tennis?</li>
    <li><i class="fa fa-check color-green"></i>Motivated to be best coach that you can be?</li>
    <li><i class="fa fa-check color-green"></i>Willing to go the extra mile to develop each of your players?</li>
        </ul>
    <ul class="list-unstyled">
    Do you:
        <li><i class="fa fa-check color-green"></i>	Want to be part of a team?</li>
        <li><i class="fa fa-check color-green"></i>	Have excellent communication skills?</li>
        <li><i class="fa fa-check color-green"></i>	Have a friendly personality and a sense of humour?</li>
        </ul>
    <p>
        If you think you have what it takes to become a coach at JTennis, please email <a href="mailto:julia@tenniscoaching.london">julia@tenniscoaching.london</a>
    </p>
</div>


