@{
    ViewBag.Title = "Restringing";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Our Restringing Services</h2></div>

    <div class="row">
        <div class="col-md-9">



            <h3>Restringing services</h3>
            <div class="panel panel-purple margin-bottom-40">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>String type</th>
                            <th>Price</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>provide own string</td>
                            <td>£10</td>      
                        </tr>
                        <tr>
                            <td>Competition Poly</td>
                            <td>£15</td>
                        </tr>
                        <tr>
                            <td>Technifibre - synthetic gut</td>
                            <td>£15</td>
                        </tr>
                        <tr>
                            <td>Polyfibre - Omni Play</td>
                            <td>£20</td>
                        </tr>
                        <tr>
                            <td>Babolat - Duralast</td>
                            <td>£20</td>
                        </tr>
                        <tr>
                            <td>Head - Sonic Edge</td>
                            <td>£20</td>
                        </tr>
                        <tr>
                            <td>Prince - S.Gut Duraflex</td>
                            <td>£20</td>
                        </tr>
                        <tr>
                            <td>Luxilon - Big Banger Alu Power Rough</td>
                            <td>£25</td>
                        </tr>
                        <tr>
                            <td>Technifibre - Black Code ATP</td>
                            <td>£25</td>
                        </tr>
                        <tr>
                            <td>Babolat - Excel</td>
                            <td>£25</td>
                        </tr>
                        <tr>
                            <td>Technifibre - Red Code</td>
                            <td>£25</td>
                        </tr>
                        <tr>
                            <td>Hybrid - Luxilon + Xcel)</td>
                            <td>£25</td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
                <!-- Contacts -->
                <div class="headline"><h2>Contact</h2></div>
                If you would like further information, or to arrange a restringing please contact:
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="#"><i class="fa fa-home"></i>Head stringer: George Cupsa</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>george@tenniscoaching.london</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>07778 675 417</a></li>
                   
                </ul>
                <img class="img-responsive" src="@Url.Content("~/img/ersa-logo.jpg")" alt="" />

            </div>
    </div>
</div>


