@{
    ViewBag.Title = "Restringing";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Our Restringing Services</h2></div>

    <div class="row">
        <div class="col-md-9">



            <h3>Restringing services</h3>
            <div class="panel panel-purple margin-bottom-40">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>String type</th>
                            <th>Price</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>provide own string</td>
                            <td>£12.50</td>      
                        </tr>
                   
                       <tr><td>Gamma Synthetic Gut: £20                      </td></tr>
                       <tr><td>Prince Synthetic Gut with duraflex: £20       </td></tr>
                       <tr><td>Babolat Addiction £22                         </td></tr>
                       <tr><td>Babolat RPM Team £25                          </td></tr>
                       <tr><td>Prince Premier Control £25                    </td></tr>
                       <tr><td>Technifibre Red Code £25                      </td></tr>
                    <tr><td>Technifibre Black Code £25                    </td></tr>
                        
                    <tr><td>We can also offer a 24-hour turnaround for an additional £3.00</td></tr>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
                <!-- Contacts -->
                <div class="headline"><h2>Contact</h2></div>
                If you would like further information, or to arrange a restringing please contact:
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="#"><i class="fa fa-home"></i>Head stringer: Julia</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>julia@tenniscoaching.london</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>07816 004 992</a></li>
                   
                </ul>
                <img class="img-responsive" src="@Url.Content("~/img/ersa-logo.jpg")" alt="" />

            </div>
    </div>
</div>


