@{
    ViewBag.Title = "Waiting list response";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Waiting list submission</h2></div>

    <p>Thank you for contacting us, you have been added to our waiting lists.
    </p>
    <p>If an exisitng booking is cancelled we will offer you a place. Alternatively we will endeavour to create new classes where there is sufficient demand, thank you for your patience.</p>

</div>


