@{
    ViewBag.Title = "Holiday Camp Bookings";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<style>
    .halfday {
        float: left;
        padding-right: 50px;
        min-width: 350px;
    }

    .fullday {
        float: left;
    }
</style>


<!--=== Content Part ===-->
<div class="container content">


    <div class="headline"><h2>How to book a camp place</h2></div>

    <div class="row">

        <p>
            Please click below on the camp that you wish to book for (you can book for more than one
            week at a time), and select the session or sessions that you wish to attend.
            Payment can be made using paypal or by using a debit or credit card.
        </p>
        <p>
            If you are booking before the earlybird discount deadline, your 20% discount will be applied
            automatically when you click "add to cart"
        </p>
        <p>
            If your child is not a member of Wigmore Tennis Club, you will be asked to pay a guest fee
            of £2 per day. Alternatively, you he/she can become a club member by filling in the
            <a href="http://wigmoretennis.clubsolution.co.uk/proc_bruger.asp"> application form  here.</a> junior membership is £21 for children age 9 & under or £65 for children age 10-17yrs.
        </p>
    </div>
    <div>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCMgZODe54krdyHijWvWt3HRQNDf3GiEf6DCNjSRb3EiF7whK3G6fuNHXlkUyUvdGSfWzwImSESPjRlXi2rEgZxRK9I+/H37LpbRix4Lg0lXWakAkJkIMbmSTcX1Z37z8nVBUYBJnlC3YmwuefqBErlJD4rDpdE+/FKckSu4G9XLTELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAi8AhfdFI7xE4AwF3+9L4/lTs04yZdKdI/zKTez5kd44wkNIHSBtD9X39acqZqkmZbOZauU9BGt8BPLoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwMjIzMTU0NzIzWjAjBgkqhkiG9w0BCQQxFgQUvMGe+b7Zu705O30RW1GGK9mT8G8wDQYJKoZIhvcNAQEBBQAEgYBDVWtoqeoyo/MoSGrTL1CGiZegol1Z7zA21Ed1RZLdDyug+DUntc51p+9MJcX1xpJnSirnzm64gF3WD4ta6IvXQcYnrlattNCTI/bzS+N7YzpEk5A+JVoSFmv41etwtiV0Mrenjtilhji+ItkZcYo9wOn6W7DlYiczGR1VVQz0ug==-----END PKCS7-----">
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_viewcart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>

    </div>
    <div class="container">
        <h2>Camp 1: Half Term</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="52SQT4GYWUVRN">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 16th February HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-12.30pm">Monday-Friday 10am-12.30pm £60.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>

        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="E6LS3BWJPWS4C">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 16th February FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-3pm">Monday-Friday 10am-3pm £110.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">

            </form>
        </div>
    </div>
   
    <div class="container">
        <h2>Camp 2: Easter</h2>

        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="Z3VE7HP2FFNVE">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 23rd March HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-12.30pm">Monday-Friday 10am-12.30pm £60.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="HDWSUPFFGBNDU">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 23rd March FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-3pm">Monday-Friday 10am-3pm £110.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 3: Easter</h2>

        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="GZCYD28SNVLR8">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 30th March HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Thursday 10am-12.30pm">Monday-Thursday 10am-12.30pm £48.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="PH9AVZTUPMRHN">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 30th March FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Thursday 10am-3pm">Monday-Thursday 10am-3pm £88.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">

            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 4: Easter</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="R5TPLRA4WQ2TJ">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Tuesday 7th April HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Tuesday-Friday 10am-12.30pm">Tuesday-Friday 10am-12.30pm £48.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="ZETRLLFP5WKJA">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Tuesday 7th April FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Tuesday-Friday 10am-3pm">Tuesday-Friday 10am-3pm £88.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">

            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 5: Half term</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="YXYK4ELBQ9CZG">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Tuesday 26th May HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Tuesday-Friday 10am-12.30pm">Tuesday-Friday 10am-12.30pm £48.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="FEZ38K9JPAACW">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Tuesday 26th May FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Tuesday-Friday 10am-3pm">Tuesday-Friday 10am-3pm £88.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">

            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 6: Summer</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="E8LPWD74JB8WW">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 6th July HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-12.30pm">Monday-Friday 10am-12.30pm £60.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QXK7CRFGSHPEN">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 6th July FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-3pm">Monday-Friday 10am-3pm £110.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 7: Summer</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="2KLX2BWZVARJN">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 13th July HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-12.30pm">Monday-Friday 10am-12.30pm £60.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="H9R6LX33KF63U">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 13th July FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-3pm">Monday-Friday 10am-3pm £110.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 8: Summer</h2>
        <!--<div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="DTMRA3BNAUNNW">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 20th July HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-12.30pm">Monday-Friday 10am-12.30pm £60.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="K2AQ3UGH6AX4A">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 20th July FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-3pm">Monday-Friday 10am-3pm £110.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">

            </form>
        </div> -->
        Monday 20th July. Sorry! Fully booked.
    </div>
    <div class="container">
        <h2>Camp 9: Summer</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="Q7D7BZK6MWQE6">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 27th July HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-12.30pm">Monday-Friday 10am-12.30pm £60.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="CLEB4PT6YLWHE">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 27th July FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-3pm">Monday-Friday 10am-3pm £110.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">

            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 10: Summer</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="MAVJS7A797E8A">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 10th August HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-12.30pm">Monday-Friday 10am-12.30pm £60.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="XKRAFGC6FG3SQ">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 10th August FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-3pm">Monday-Friday 10am-3pm £110.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">

            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 11: Summer</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="PZWA57UWX6VWE">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 17th August HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-12.30pm">Monday-Friday 10am-12.30pm £60.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="KLBTYMYPL74MG">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 17th August FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-3pm">Monday-Friday 10am-3pm £110.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">

            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 12: Summer</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="JA7D8XXQBCL8E">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Monday 24th August HALF DAY BOOKINGS">Monday 24th August HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-12.30pm">Monday-Friday 10am-12.30pm £60.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>

        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="7BZECQVXR2FRL">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Monday 24th August FULL DAY BOOKINGS">Monday 24th August FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-3pm">Monday-Friday 10am-3pm £110.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 13: Summer</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="NN2W5F6WD9ZHY">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Tuesday 1st September HALF DAY BOOKINGS">Tuesday 1st September HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Tuesday-Friday 10am-12.30pm">Tuesday-Friday 10am-12.30pm £48.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="RVMVEL5FAXX4L">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Tuesday 1st September FULL DAY BOOKINGS">Tuesday 1st September FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Tuesday-Friday 10am-3pm">Tuesday-Friday 10am-3pm £88.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 14: Half term</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="57KFR4BPM7HFL">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 19th October HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-12.30pm">Monday-Friday 10am-12.30pm £60.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="HT7HBPUZU23DS">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 19th October FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-3pm">Monday-Friday 10am-3pm £110.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">

            </form>
        </div>
    </div>
    <div class="container">
        <h2>Camp 15: Half term</h2>
        <div class="halfday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="LM8FYMXCZ5ACN">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 26th October HALF DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-12.30pm">Monday-Friday 10am-12.30pm £60.00 GBP</option>
                                <option value="Monday only 10am-12.30pm">Monday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Tuesday only 10am-12.30pm">Tuesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Wednesday only 10am-12.30pm">Wednesday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Thursday only 10am-12.30pm">Thursday only 10am-12.30pm £16.00 GBP</option>
                                <option value="Friday only 10am-12.30pm">Friday only 10am-12.30pm £16.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div class="fullday">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="DNZT7BQWSYAGJ">
                <table>
                    <tr><td><input type="hidden" name="on0" value="Name of drop-down menu">Monday 26th October FULL DAY BOOKINGS</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="Monday-Friday 10am-3pm">Monday-Friday 10am-3pm £110.00 GBP</option>
                                <option value="Monday only 10am-3pm">Monday only 10am-3pm £28.00 GBP</option>
                                <option value="Tuesday only 10am-3pm">Tuesday only 10am-3pm £28.00 GBP</option>
                                <option value="Wednesday only 10am-3pm">Wednesday only 10am-3pm £28.00 GBP</option>
                                <option value="Thursday only 10am-3pm">Thursday only 10am-3pm £28.00 GBP</option>
                                <option value="Friday only 10am-3pm">Friday only 10am-3pm £28.00 GBP</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Child's Name and Date of Birth">Child's Name and Date of Birth</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="hidden" name="currency_code" value="GBP">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
</div>


