@{
    ViewBag.Title = "Holiday Camp Bookings";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<link href="@Url.Content("~/CSS/BookingButtons.css")" rel="stylesheet" />

<!--=== Content Part ===-->

<div class="container content">
    <div class="headline"><h2>Our camps</h2></div>
    <div class="row">
    Our Holiday Camps are designed for children aged 3-14yrs of all abilities. Players aged 5-14 can either come from 10am - 12:30pm or from 10am - 3pm, with the option of having extended hours in the morning and at end of day. 
        Tots aged 3-4 can only attend morning half day sessions.
    <br />
    Each day and session is carefully structured to provide an introduction to all the strokes in tennis, offer technical and tactical advice, and give everyone the opportunity to develop their skills in a relaxed environment. 
        </div>
    <div class="headline"><h2>How to book a camp place</h2></div>
    <div class="row md-margin-bottom-40">
        Please note that all players who participate in a holiday camp MUST either be members of the club OR pay a guest fee to the club.
        Once your camp registration is complete, the club will send you details regarding guest fee payment or membership application.
        The guest fee payable is equal to £2.00 per session.
    </div>
    <div class="row">
       <div class="headline"> <h2>Package</h2></div>
        <p>
            There are a limited number of packages available with 10% off, available to the first 50 people who book.
            <br />
            Limited Package Details: Buy 10 full days of camp, and pay only £22 per day (a saving of £60), or 10 half days of camp, and pay only £12 per morning (a saving of £40)!! Days do not need to be consecutive, and can be taken any time during 2016. They cannot be rolled over to 2017.
            <br />
            You can select your 10 dates at the time of booking, or at a later stage, however please note that we only have a limited number of places at the camp so please book early to avoid disappointment.
            Your confirmation email will contain details of how to book any extras, including extended hours between 8:30am - 10am and between 3pm and 5pm.
            <br />
           
            <a href="https://tenniscoaching.acuityscheduling.com/catalog.php?owner=11441442" class="Yellow">Book package</a>
        </p>

        <p>

        </p>

    </div>


    <div class="row">
        <h2>Booking individual sessions</h2>
        <p>Sessions can be booked individually, please choose from the buttons below to book the camp place you require</p>
        <table cellspacing="5" class="table table-striped">
            <thead>
                <tr>
                    <th>2016 Wigmore camps</th>
                    <th>2016 Camber camps</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul class="list-unstyled">
                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Wigmore+Full+Day+Camps%3A+Spring+Half+Term">
                                    Spring half term - full days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="http://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Wigmore+Half+Day+Camps%3A+Spring+Half+Term">
                                    Spring half term - half days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="http://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Wigmore+Full+Day+Camps%3A+Easter">
                                    Easter - full days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="http://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Wigmore+Half+Day+Camps%3A+Easter">
                                    Easter - half days
                                </a>
                            </li>

                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Wigmore+Full+Day+Camps%3A+Summer+Half+Term">
                                    Summer half term - full days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Wigmore+Half+Day+Camps%3A+Summer+Half+Term">
                                    Summer half term - half days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Wigmore+Full+Day+Camps%3A+Summer">
                                    Summer - full days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Wigmore+Half+Day+Camps%3A+Summer">
                                    Summer - half days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Wigmore+Full+Day+Camps%3A+Autumn+Half+Term">
                                    Autumn half term - full days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Wigmore+Half+Day+Camps%3A+Autumn+Half+Term">
                                    Autumn half term - half days
                                </a>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li>
                                <a class="Yellow" href="http://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Camber+Full+Day+Camps%3A+Easter">
                                    Easter - full days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="http://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Camber+Half+Day+Camps%3A+Easter">
                                    Easter - half days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Camber+Full+Day+Camps%3A+Summer+Half+Term">
                                    Summer half term - full days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Camber+Half+Day+Camps%3A+Summer+Half+Term">
                                    Summer half term - half days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Camber+Full+Day+Camps%3A+Summer">
                                    Summer - full days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Camber+Half+Day+Camps%3A+Summer">
                                    Summer - half days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="https://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Camber+Full+Day+Camps%3A+Autumn+Half+Term">
                                    Autumn half term - full days
                                </a>
                            </li>
                            <li>
                                <a class="Yellow" href="http://tenniscoaching.acuityscheduling.com/schedule.php?appointmentType=category:Camber+Half+Day+Camps%3A+Autumn+Half+Term">
                                    Autumn half term - half days
                                </a>
                            </li>
                        </ul>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>

</div>


