@{
    ViewBag.Title = "Holiday Camp Dates";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
   
    <div class="headline"><h2>Camp dates 2017</h2></div>
    These are the dates we have scheduled camps. If you have inset days or different school term dates and would like us to arrange a private camp for a group of friends please contact us.
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Spring 2017</h2><br />
                <img alt="" src="@Url.Content("~/img/spring.jpg")" class="img-responsive">
                <h3><a>HALF TERM TENNIS CAMP 2017</a></h3>
                <ul class="list-unstyled">
                    <li>Monday 13th February – Friday 17th February (Wigmore)</li>
                </ul>
                <h3>EASTER TENNIS CAMPS 2017 </h3>
                <ul class="list-unstyled">
                    <li> Monday 3rd April - Friday 7th April (Wigmore)</li>
                    <li>Monday 10th April - Friday 14th April (Wigmore)</li>
                    
                </ul>
                <h4>HALF TERM TENNIS CAMP 2017</h4> 
                <ul class="list-unstyled">
                    <li>Tuesday 30th May - Friday 2nd June (Wigmore)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Summer 2017</h2><br />
                <img alt="" src="@Url.Content("~/img/summer.jpg")" class="img-responsive">
                <h3><a>SUMMER TENNIS CAMPS 2017</a></h3> 
                <ul class="list-unstyled">
                
                 <li>  Monday 17th July - Friday 21st July   (Wigmore)     </li>
                 <li>  Monday 24th July - Friday 28th July   (Wigmore)     </li>
                 <li>  Monday 7th August - Friday 11th August (Wigmore) </li>
                 
                 <li>  Monday 14th August - Friday 18th August    (Wigmore) </li>
                 <li>  Monday 21st August  - Friday 25th August   (Wigmore) </li>
                 <li>  Tuesday 29th August - Friday 1st September (Wigmore) </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Autumn 2017</h2><br />
                <img alt="" src="@Url.Content("~/img/autumn.jpg")" class="img-responsive">
                <h3><a>HALF TERM TENNIS CAMP 2017</a> </h3>
                <ul class="list-unstyled">
                    <li>Monday 23rd October - Friday 27th October (Wigmore)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->
