@{
    ViewBag.Title = "Holiday Camp Dates";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">


    <div class="headline"><h2>Camp dates 2015</h2></div>

    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Spring 2015</h2><br />
                <img alt="" src="@Url.Content("~/img/spring.jpg")" class="img-responsive">
                <h3><a>HALF TERM TENNIS CAMP 2015</a></h3> <small>(20% off before the 1st Feb)</small>
                <ul class="list-unstyled">
                    <li>Monday 16th February – Friday 20th February</li>
                </ul>
                <h3>EASTER TENNIS CAMPS 2015 </h3><small>(20% off before the 1st March)</small>
                <ul class="list-unstyled">
                    <li>Monday 23rd March - Friday 27th March </li>
                    <li>Monday 30th March – Thursday 2nd April</li>
                    <li>Tuesday 7th April – Friday 10th April</li>
                </ul>
                <h4>HALF TERM TENNIS CAMP 2015</h4> <small>(20% off before the 1st May)</small>
                <ul class="list-unstyled">
                    <li>Tuesday 26th May – Friday 30th May</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Summer 2015</h2><br />
                <img alt="" src="@Url.Content("~/img/summer.jpg")" class="img-responsive">
                <h3><a>SUMMER TENNIS CAMPS 2015</a></h3> <small>(20% off before the 1st June)</small>
                <ul class="list-unstyled">
                    <li>Monday 6th July – Friday 10th July</li>
                    <li>Monday 13th July – Friday 17th July</li>
                    <li>Monday 20th July – Friday 24th July</li>
                    <li>Monday 27th July – Friday 31st July</li>
                    <li>Monday 10th August - Friday 14th August</li>
                    <li>Monday 17th August – Friday 21st August</li>
                    <li>Monday 24th August – Friday 28th August</li>
                    <li>Tuesday 1st September – Friday 4th September</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Autumn 2015</h2><br />
                <img alt="" src="@Url.Content("~/img/autumn.jpg")" class="img-responsive">
                <h3><a>HALF TERM TENNIS CAMP 2015</a> </h3><small> (20% off before the 1st Oct)</small>
                <ul class="list-unstyled">
                    <li>Monday 19th October - Friday 23rd October</li>
                    <li>Monday 26th October - Friday 30th October</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->
