@{
    ViewBag.Title = "Holiday Camp Dates";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container content">
   
    <div class="headline"><h2>Camp dates 2016</h2></div>

    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Spring 2016</h2><br />
                <img alt="" src="@Url.Content("~/img/spring.jpg")" class="img-responsive">
                <h3><a>HALF TERM TENNIS CAMP 2016</a></h3> <small>(20% off before the 1st Feb)</small>
                <ul class="list-unstyled">
                    <li>Monday 15th February – Friday 19th February (Wigmore)</li>
                </ul>
                <h3>EASTER TENNIS CAMPS 2016 </h3>
                <ul class="list-unstyled">
                    <li> Tuesday 29th March - Friday 1st April (Wigmore / Camber)</li>
                    <li>Monday 4th April - Friday 8th April (Wigmore / Camber)</li>
                    <li>  Monday 11th April - Friday 15th April (Wigmore)</li>
                </ul>
                <h4>HALF TERM TENNIS CAMP 2016</h4> <small>(20% off before the 1st May)</small>
                <ul class="list-unstyled">
                    <li>Tuesday 31st May - Friday 3rd June (Wigmore / Camber)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Summer 2016</h2><br />
                <img alt="" src="@Url.Content("~/img/summer.jpg")" class="img-responsive">
                <h3><a>SUMMER TENNIS CAMPS 2016</a></h3> 
                <ul class="list-unstyled">
                 <li>  Monday 11th July - Friday 15th July   (Wigmore)     </li>
                 <li>  Monday 18th July - Friday 22nd July   (Wigmore)     </li>
                 <li>  Monday 25th July - Friday 29th July   (Wigmore / Camber)     </li>
                 <li>  Monday 1st August - Friday 5th August (Camber) </li>
                 <li>  Monday 8th August - Friday 12th August     (Wigmore) </li>
                 <li>  Monday 15th August - Friday 19th August    (Wigmore) </li>
                 <li>  Monday 22nd August  - Friday 26th August   (Wigmore) </li>
                 <li>  Tuesday 30th August - Friday 2nd September (Wigmore) </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Autumn 2016</h2><br />
                <img alt="" src="@Url.Content("~/img/autumn.jpg")" class="img-responsive">
                <h3><a>HALF TERM TENNIS CAMP 2016</a> </h3>
                <ul class="list-unstyled">
                    <li>Monday 17th October - Friday 21st October (Wigmore)</li>
                    <li>Monday 24th October - Friday 28th October (Wigmore / Camber)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/container-->
<!--=== End Content Part ===-->
