
@{
    ViewBag.Title = "Holiday Camp FAQ";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <!-- General Questions -->
            <div class="headline"><h2>General Questions</h2></div>
            <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                What does my child need to bring?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            Packed lunch, plenty of water, cap and sun tan cream if appropriate. Rackets can be provided although many children bring their own. Please do not send your children with food that contains nuts or nut traces.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                What does my child need to wear?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Loose, comfortable clothing and tennis shoes. Because the club has brand new court surfaces, all players must wear flat soled tennis shoes. </p>
                            
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                How many children will be in a group?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>There will be a maximum ratio of coaches to children of 1:8 (often better!) Although children will be in their small groups for some activities, groups may merge for certain games.</p>
                           
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                What happens in wet weather?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            In the event of bad weather, the camp will take shelter in the club pavilion and play table tennis or board games inside. If it is light drizzle or showers we will stay outdoors as long as it is safe. Therefore please dress suitably.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                What will my child be doing?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Each day will comprise of some general co-ordination skills, some tennis specific skills, technical tennis coaching, games and match play. Each day will focus specifically on a different area of the game, so over a week's course, your child will learn forehands, backhands, approach shots and volleys, serves and returns, as well as basic tactics, scoring and rules. On the final day we hold a tournament where they can put into practice all their new skills! Winners receive prizes and every child receives a personalised certificate.
                                </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                Does my child need to have played tennis before?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            The camp is open to players of all levels including complete beginners. Groups will be split according to ability as well as age and so every child should feel comfortable in their group. 
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                Who are the coaches?    
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            All our coaches are LTA or PTR qualified coaches. All hold a recent Criminal Records check and all hold first aid certificates.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                How do I book?

                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            All bookings must take place through the website
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                                Does my child have to be a member of the tennis club?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">
                            No, players do not have to be members although we would always encourage them to join and be involved with the club.
                            The club charges a small guest fee which is payable to the club. 
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                Cancellation
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body">
                            Camps cancelled before the camp starts will be subject to a 20% cancellation fee. Camps cancelled during a camp will receive no refund.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                                Bad Behaviour
                            </a>
                        </h4>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse">
                        <div class="panel-body">
                            Bad behaviour will not be tolerated and if behaviour does not improve following a warning, children will be asked to leave the camp without refund.
                        </div>
                    </div>
                </div>


               

            </div><!--/acc-v1-->
            <!-- End General Questions -->
            <!-- Other Questions -->
            <div class="headline"><h2>Other Questions</h2></div>
            <div class="panel-group acc-v1" id="accordion-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                Can find the answer to your question?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-One" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-responsive" src="@Url.Content("~/img/ask-a-question.jpg")" alt="" />
                                </div>
                                <div class="col-md-8">
                                    If you can't find the answer to your question about Holiday Camps, please drop Julia an email, she will be glad to help.
                                    <br />
                                    <a href="mailto:julia@tenniscoaching.london">julia@tenniscoaching.london</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div><!--/acc-v1-->
            <!-- End Other Questions -->
        </div><!--/col-md-9-->

        <div class="col-md-3">
            <!-- Contacts -->
           @Html.Partial("_Contact")
            <!-- End Contacts -->
            <!-- Business Hours -->
            <div class="headline"><h2>Camp Hours</h2></div>
            <ul class="list-unstyled margin-bottom-30">
                <li><strong>All day:</strong> 10am - 3pm</li>
                <li><strong>Mornings only:</strong> 10am - 12.30pm</li>
                
            </ul>
            <!-- End Business Hours -->
            <!-- Info Block -->
        </div><!--/col-md-3-->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->


