@{
    ViewBag.Title = "HolidayCampAbout";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!--=== Content Part ===-->
<div class="container content">


    <div class="headline"><h2>About Our Holiday Camps</h2></div>

    <div class="row">

        
        <p>
        Our Holiday Camps are designed for children aged 3-15yrs of all abilities.
        </p><p>
        Each day and session is carefully structured to provide an introduction to all the strokes in tennis, offer technical and tactical advice, and give everyone the opportunity to develop their skills in a relaxed environment.
        <br /> Our goal at JS Tennis camps is to instil in each child a greater love for tennis than when they first arrive. Our team of coaches will create a fun and caring environment that is certain to make each child enjoy their experience.
        </p>
</div>

    <div class="row">
        <div class="headline"><h2>Upcoming camps</h2>
        
        If you are booking before the 1st of October a 20% discount will automatically be applied at checkout.
        </div>

        <div>
            19th - 23rd October @@ Wigmore
       <br />
            26th - 30th October @@ Wigmore
      <br />
            26th - 30th October @@ Camber
        </div>
        <div>
            <a href="@Url.Action("Booknow","Camps")">BOOK NOW</a>
        </div>
    </div>


</div>
