@{
    ViewBag.Title = "HolidayCampSchedule";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="row">


        <!--Striped Rows-->
        <div class="col-md-">
            <h2>What does a day at a JTennis Holiday Camp look like?  </h2>

            <div class="panel panel-purple margin-bottom-40">
               
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Activity</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9.50am-10.00am</td>
                            <td>Registration</td>
                            <td>The Campers arrive and sign in.</td>
                        </tr>
                        <tr>
                            <td>10.00am-11.00am</td>
                            <td>ABCs</td>
                            <td>Team games and icebreakers, focussed on improving agility, balance and co-ordination. These may include physical exercises, ball exercises and ball/racket games.</td>
                        </tr>
                        <tr>
                            <td>11.00am-11.15am</td>
                            <td>Break</td>
                            <td>Children bring a snack and a drink</td>
                        </tr>
                        <tr>
                            <td>11.20am-12.30pm</td>
                            <td>Stroke of the day</td>
                            <td>
                                Technical coaching in a different stroke each day, followed by drills applying the stroke in a variety of tactical situations.
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check color-green"></i>Mondays – Forehand</li>
                                    <li><i class="fa fa-check color-green"></i>Tuesdays – Backhand</li>
                                    <li><i class="fa fa-check color-green"></i>Wednesdays – Serve</li>
                                    <li><i class="fa fa-check color-green"></i>Thursdays – Net Play</li>
                                </ul>

                            </td>
                        </tr>
                        <tr>
                            <td>12.30pm-1.15pm</td>
                            <td>Lunch</td>
                            <td>Children bring their own packed lunch</td>
                        </tr>
                        <tr>
                            <td>1.15pm-2.00pm</td>
                            <td>Group Games</td>
                            <td>Tennis Cricket, Around the World, Elimination</td>
                        </tr>
                        <tr>
                            <td>2.00pm-3.00pm</td>
                            <td>Match Practice</td>
                            <td>Doubles and Singles matches.</td>
                        </tr>
                    </tbody>
                </table>
             </div>
        </div>
        <!--End Striped Rows-->
        On the Final Day of the camp, campers apply their newly developed skills in a fun tournament lasting for the duration of camp. There are prizes for everyone.

    </div>
</div>

