
@{
    ViewBag.Title = "Terms and conditions";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <!-- General Questions -->
            <div class="headline"><h2>Terms and conditions</h2></div>
            <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Payments and Refunds 
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                            <li><i class="fa fa-check color-green"></i>	Full payment is required in advance to reserve a place.</li>
                            <li><i class="fa fa-check color-green"></i>	No refunds will be given for non-attendance.</li>
                            <li><i class="fa fa-check color-green"></i>	A refund or credit may be available if you have a valid medical reason which prevents you/your child from attending 2 days in a row.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Cancellations
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Where the participant wishes to cancel a course, the following arrangements apply:
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	Camps cancelled more than 14 days before the first session will be charged an administrative fee of £10, and refunded 100% of the registration fees</li>
                                <li><i class="fa fa-check color-green"></i>	Camps cancelled no less than 7 days before the event will be charged an administrative fee of £10, and refunded 50% of the registration fees;</li>
                                <li><i class="fa fa-check color-green"></i>	Camps cancelled fewer than 7 days before the event will not be eligible for a refund.</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Wet Weather 
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class ="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>Our camps will go ahead in all weathers</li>
                                <li><i class="fa fa-check color-green"></i>	On wet days please ensure your child is suitable dressed</li>
                                <li><i class="fa fa-check color-green"></i>	During prolonged or heavy rain, the coaches may decide to run some sessions in the club house. Indoor activities may include videos, quizzes and indoor games</li>
                                <li><i class="fa fa-check color-green"></i>	No refunds will be issued in the event of bad weather</li>
                            </ul>
                           
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                Supervision of Juniors 
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	JTennis coaches are not responsible for supervising children outside of lesson times.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                Bad Behaviour
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	Bad behaviour will not be tolerated and if behaviour does not improve following a warning, participants will be asked to leave without refund.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                Changes to Camp Schedules 
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	Occasionally we may make changes to our published schedule, including cancelling a camp</li>
                                <li><i class="fa fa-check color-green"></i>	Anyone who has registered and paid for a camp that is subsequently cancelled will be offered an alternative date or given a full refund.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                     
                                Loss, Theft or Damage
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	JTennis can accept no responsibility for loss, theft or damage to any personal items whilst on our courses.</li>
                                <li><i class="fa fa-check color-green"></i>	Any damage caused while on the tennis club grounds shall be chargeable to the offender(s)</li>
                            </ul>
                        </div>
                    </div>
                </div>            
            </div><!--/acc-v1-->
            <!-- End General Questions -->
            <!-- Other Questions -->
            <div class="headline"><h2>Feedback</h2></div>
            <div class="panel-group acc-v1" id="accordion-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                Wish to leave some feedback or have a complaint?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-One" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-responsive" src="@Url.Content("~/img/feedback.jpg")" alt="" />
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i>	Should you have a problem or complaint at any time, report it immediately to one of the JTennis Coaches concerned who will endeavour to rectify matters immediately.</li>
                                        <li>
                                            <i class="fa fa-check color-green"></i>	If you remain dissatisfied, please e-mail <a href="mailto:julia@tenniscoaching.london">julia@tenniscoaching.london</a>
                                        </li> </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div><!--/acc-v1-->
            <!-- End Other Questions -->
        </div><!--/col-md-9-->

        <div class="col-md-3">
            <!-- Contacts -->
           @Html.Partial("_Contact")
            <!-- End Contacts -->
            
            <!-- Info Block -->
        </div><!--/col-md-3-->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->


