<div class="headline"><h2>Contact</h2></div>
<ul class="list-unstyled who margin-bottom-30">
    <li><a href="#"><i class="fa fa-home"></i>Venue: Wigmore Tennis Club</a></li>
    <li><a href="#"><i class="fa fa-envelope"></i>julia@tenniscoaching.london</a></li>
    <li><a href="#"><i class="fa fa-phone"></i>07816 004 992</a></li>
</ul>