<table cellspacing="5" class="table table-striped">
    <thead>
        <tr>
            <th>Course</th>
            <th>Wigmore Members booking</th>
            <th>Non members booking</th>
        </tr>
    </thead>

    <tbody>

       
        <tr>
            <td>Monday 4pm  (3-4 yrs)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=230" class="TotsMini">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Monday 4pm  (3-4 yrs)"> <input type="hidden" name="amount" value="126.5">  <input type="hidden" name="currency_code" value="GBP">   <input class="TotsMini" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Thursday 4pm (3-4yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>   
        </tr>
        <tr>
            <td>Saturday 9am (3-4yrs)</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=221" class="TotsMini">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Saturday 9am (3-4yrs)"> <input type="hidden" name="amount" value="138">  <input type="hidden" name="currency_code" value="GBP">   <input class="TotsMini" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Saturday 10am  (3-4yrs)</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>        
        </tr>
    </tbody>
</table>
