<table cellspacing="5" class="table table-striped">
    <thead>
        <tr>
            <th>Course</th>
            <th>Wigmore Members booking</th>
            <th>Non members booking</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Monday 8pm Adult Advanced</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>       </tr>
        <tr>
            <td>Thursday 8pm Adult Beginners / Improvers</td>
            <td colspan="2"><a href="@Url.Action("WaitingForm","Other")">Fully booked - Join waiting list</a></td>        </tr>
        <tr>
            <td>Friday 10:30am Adults</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=160" class="Yellow">Members Book Now</a><br /></td>
            <td><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="business" value="juliasearle31@gmail.com"> <input type="hidden" name="cmd" value="_xclick"> <input type="hidden" name="item_name" value="Friday 10:30am Adults"> <input type="hidden" name="amount" value="150">  <input type="hidden" name="currency_code" value="GBP">   <input class="Yellow" type="submit" name="submit" value="Non-members Book Now"></form></td>
        </tr>
        <tr>
            <td>Saturday 10am Ladies Team Training</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=220" class="Yellow">Members Book Now</a><br /></td>
            <td></td>
        </tr>
        <tr>
            <td>Saturday 11am Ladies Team Training</td>
            <td><a target="_top" href="http://wigmoretennis.clubsolution.co.uk?holdnr=228" class="Yellow">Members Book Now</a><br /></td>
            <td></td>
        </tr>

    </tbody>
</table>