<div class="row md-margin-bottom-40">
    Please note that all players who participate in the coaching programme MUST either be members of the club OR pay a guest fee to the club.
    Once your coaching registration is complete, the club will send you details regarding guest fee payment or membership application.
    The guest fee payable is equal to £1.50 per session for juniors and £2.50 per session for adults.
</div>
<script src="https://d3gxy7nm8y4yjr.cloudfront.net/js/embed.js" type="text/javascript"></script>
<table cellspacing="5" class="table table-striped">
    <thead>
        <tr>

            <th>Autumn 2016 Wigmore classes</th>
            <th>Autumn 2016 Camber classes</th>
            
        </tr>

    </thead>

    <tbody>
        <tr>
            <td>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i>MONDAY 5pm Age 11-14</li> 
                    <li><i class="fa fa-check color-green"></i>TUESDAY 4pm Age 10-12</li>                  
                    <li><i class="fa fa-check color-green"></i>TUESDAY 6pm (girls only)</li>
                    <li><i class="fa fa-check color-green"></i>TUESDAY 6pm Age 11-14</li>
                    <li><i class="fa fa-check color-green"></i>TUESDAY 7pm Age 14-18</li>
                    <li><i class="fa fa-check color-green"></i>FRIDAY 5pm (girls only) </li>
                    <li><i class="fa fa-check color-green"></i>SATURDAY 1pm (girls only)</li>       
                </ul><a href="@Url.Action("Juniors","Booking")" class="Yellow">Book a Wigmore class</a>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i>MONDAY 5:30pm Age 13-15 </li>
                    <li><i class="fa fa-check color-green"></i>TUESDAY 5:30pm Age 13-15 </li>
                    <li><i class="fa fa-check color-green"></i>SATURDAY 3:30pm Age 12-15</li>
                    <li><i class="fa fa-check color-green"></i>SATURDAY 4:30pm Age 14-17</li>
                </ul>
                <a href="@Url.Action("Juniors","BookingCamber")" class="Yellow">Book a Camber class</a>
            </td>       
        </tr>
        <tr>
            <td colspan="2">
                If the course you wish to enrol for is fully booked you can join a waiting list.
                <a href="https://docs.google.com/forms/d/1YlmozTfmfFfxmp_c1yQRKEs6rZazMI6b_MXxl510Jw4/viewform?usp=send_form" class="TotsMini">Join a waiting list</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">Finding booking difficult? <a href="https://youtu.be/psPArQt_Cu8">View our guidance video</a></td>
        </tr>
    </tbody>
</table>
