@{
    ViewBag.Title = "Terms and conditions";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="row">
        <div class="col-md-9">
            <!-- General Questions -->
            <div class="headline"><h2>Terms and conditions</h2></div>
            <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Payments and Refunds
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	Full payment is required in advance to reserve a place in group programmes.</li>
                                <li><i class="fa fa-check color-green"></i>	No refunds will be given for non-attendance at group lessons.</li>
                                <li><i class="fa fa-check color-green"></i>	A refund or credit may be available if you have a valid medical reason which prevents you/your child from attending three or more classes in a row.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Cancellations
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Where the participant wishes to cancel a course, the following arrangements apply:
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	Courses cancelled more than 14 days before the first session will be charged an administrative fee of £10, and refunded 100% of the registration fees</li>
                                <li><i class="fa fa-check color-green"></i>	Courses cancelled no less than 7 days before the event will be charged an administrative fee of £10, and refunded 50% of the registration fees;</li>
                                <li><i class="fa fa-check color-green"></i>	Courses cancelled fewer than 7 days before the event will not be eligible for a refund.</li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Wet Weather
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	On wet days, the decision whether to cancel group lessons will be made approximately 1 hour before the start time</li>
                                <li><i class="fa fa-check color-green"></i>	If you do not hear from your coach, assume your lesson is on</li>
                                <li><i class="fa fa-check color-green"></i>	If you choose not to attend on doubtful days then you risk missing the class if it takes place.</li>
                                <li><i class="fa fa-check color-green"></i>	If a session runs over half of the designated time and is interrupted due to weather conditions, the session is considered a full session and no credit will be issued</li>
                                <li><i class="fa fa-check color-green"></i>	If a session is interrupted due to bad weather conditions before half of the session is completed, the player can request a credit note to be applied to their account. The credit is valid for the next term’s coaching course only.</li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                Make Up Sessions
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	Any classes cancelled will be made up at the end of term if possible</li>
                                <li><i class="fa fa-check color-green"></i>	If this is not possible, you will be offered a credit towards the next term’s coaching course</li>
                            </ul>
                        </div>
                    </div>
                </div>

               

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                Changes to Course Schedules
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	Occasionally we may make changes to our published schedule, including cancelling a course, creating an additional course, or changing the day/time of a course</li>
                                <li><i class="fa fa-check color-green"></i>	If we do not have sufficient players by the end of Week 1 we may cancel that group for the term</li>
                                <li><i class="fa fa-check color-green"></i>	Anyone who has registered and paid for a course that is subsequently cancelled will be offered an alternative time slot or given a full refund.</li>
                                <li><i class="fa fa-check color-green"></i>	We reserve the right to refuse entry to a course or advise a more appropriate session if any participant is found not to be of the correct age/ability, or is unable to complete a course due to being in the incorrect age/ability group.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">

                                Loss, Theft or Damage
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check color-green"></i>	JTennis can accept no responsibility for loss, theft or damage to any personal items whilst on our courses.</li>
                                <li><i class="fa fa-check color-green"></i>	Any damage caused while on the tennis club grounds shall be chargeable to the offender(s)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/acc-v1-->
            <!-- End General Questions -->
            <!-- Other Questions -->
            <div class="headline"><h2>Feedback</h2></div>
            <div class="panel-group acc-v1" id="accordion-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                Wish to leave some feedback or have a complaint?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-One" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-responsive" src="@Url.Content("~/img/feedback.jpg")" alt="" />
                                </div>
                                <div class="col-md-8">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i>	Should you have a problem or complaint at any time, report it immediately to one of the JTennis Coaches concerned who will endeavour to rectify matters immediately.</li>
                                        <li>
                                            <i class="fa fa-check color-green"></i>	If you remain dissatisfied, please e-mail <a href="mailto:julia@tenniscoaching.london">julia@tenniscoaching.london</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div><!--/acc-v1-->
            <!-- End Other Questions -->
        </div><!--/col-md-9-->

        <div class="col-md-3">
            <!-- Contacts -->
            @Html.Partial("_Contact")
            <!-- End Contacts -->
           
        </div><!--/col-md-3-->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
