<table cellspacing="5" class="table table-striped">
    <thead>
        <tr>

            <th>Autumn Term 2015 classes</th>
            <th>Book now</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i>MONDAY 4PM Beginners</li>
                    <li><i class="fa fa-check color-green"></i>MONDAY 8PM Advanced</li>
                    <li><i class="fa fa-check color-green"></i>TUESDAY 8PM Improvers</li>
                    <li><i class="fa fa-check color-green"></i>THURSDAY 10AM Improvers / Advanced</li>
                    <li><i class="fa fa-check color-green"></i>THURSDAY 8PMM Beginners / Improvers</li>
                    <li><i class="fa fa-check color-green"></i>FRIDAY 10:30AM Improvers</li>
                </ul>
            </td>
            <td>
                <a href="@Url.Action("Adults","Booking")" class="TotsMini">Book a class</a>
                <br />
                <a href="https://docs.google.com/forms/d/1YlmozTfmfFfxmp_c1yQRKEs6rZazMI6b_MXxl510Jw4/viewform?usp=send_form" class="TotsMini">Join a waiting list</a>

            </td>
        </tr>

          
</tbody>
</table>
