<table cellspacing="5" class="table table-striped">
    <thead>
        <tr>
           
            <th>Wigmore Members booking</th>
            <th>Non members booking</th>
        </tr>
    </thead>

    <tbody>
<tr>
    <td>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="QS4M85463YAYA">
            <table>
                <tr><td><input type="hidden" name="on0" value="Adults: BOOK A COURSE NOW">Adults: BOOK A COURSE NOW</td></tr>
                <tr>
                    <td>
                        <select name="os0">
                            <option value="Monday 4pm-5pm £120">Monday 4pm-5pm £120 </option>
                            <option value="Monday 8pm-9pm £120">Monday 8pm-9pm £120 </option>
                            <option value="Tuesday 8pm-9pm  £120">Tuesday 8pm-9pm  £120 </option>
                            <option value="Thursday 10am-11am £120">Thursday 10am-11am £120 </option>
                            <option value="Thursday 8pm-9pm £120">Thursday 8pm-9pm £120 </option>
                            <option value="Friday 10.30-11.30am £120">Friday 10.30-11.30am £120 </option>
                        </select>
                    </td>
                </tr>
                <tr><td><input type="hidden" name="on1" value="Player's Name">Player's Name</td></tr>
                <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
            </table>
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>
        </td>
    <td>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="8NAPKVJYJ8GQA">
            <table>
                <tr><td><input type="hidden" name="on0" value="Adults (non members): BOOK A COURSE NOW">Adults (non members): BOOK A COURSE NOW</td></tr>
                <tr>
                    <td>
                        <select name="os0">
                            <option value="Monday 4pm-5pm £150">Monday 4pm-5pm £150 </option>
                            <option value="Monday 8pm-9pm £150">Monday 8pm-9pm £150 </option>
                            <option value="Tuesday 8pm-9pm  £150">Tuesday 8pm-9pm  £150 </option>
                            <option value="Thursday 10am-11am £150">Thursday 10am-11am £150 </option>
                            <option value="Thursday 8pm-9pm £150">Thursday 8pm-9pm £150 </option>
                            <option value="Friday 10.30-11.30am £150">Friday 10.30-11.30am £150 </option>
                        </select>
                    </td>
                </tr>
                <tr><td><input type="hidden" name="on1" value="Player's Name">Player's Name</td></tr>
                <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
            </table>
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>
    </td>
</tr>

          
</tbody>
</table>
