<table cellspacing="5" class="table table-striped">
    <thead>
        <tr>
           
            <th>Wigmore Members booking</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
<tr>
    <td><form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="THD4PMN2BRSGN">
    <table>
        <tr><td><input type="hidden" name="on0" value="Juniors: BOOK A 1HR COURSE NOW">Juniors: BOOK A 1HR COURSE NOW</td></tr>
        <tr>
            <td>
                <select name="os0">
                    <option value="Monday 5pm-6pm £120">Monday 5pm-6pm £120 </option>
                    <option value="Tuesday 4om-5pm £120">Tuesday 4om-5pm £120 </option>
                    <option value="Tuesday 5pm-6pm  £120">Tuesday 5pm-6pm  £120 </option>
                    <option value="Tuesday 6pm-7pm £120">Tuesday 6pm-7pm £120 </option>
                    <option value="Tuesday 7pm-8pm £120">Tuesday 7pm-8pm £120 </option>
                    <option value="Wednesday 5pm-6pm £120">Wednesday 5pm-6pm £120 </option>
                    <option value="Thursday 5pm-6pm £120">Thursday 5pm-6pm £120 </option>
                    <option value="Friday 5pm-6pm £120">Friday 5pm-6pm £120 </option>
                    <option value="Saturday 1pm-2pm £120">Saturday 1pm-2pm £120 </option>
                </select>
            </td>
        </tr>
        <tr><td><input type="hidden" name="on1" value="Player's Name">Player's Name</td></tr>
        <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
        <tr><td><input type="hidden" name="on2" value="Player's Date of Birth">Player's Date of Birth</td></tr>
        <tr><td><input type="text" name="os2" maxlength="200"></td></tr>
    </table>
    <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>

        </td>
    <td>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="GY2GLYPXAMHLQ">
            <table>
                <tr><td><input type="hidden" name="on0" value="Juniors: BOOK A 1HR COURSE NOW">Juniors: BOOK A 1HR COURSE NOW</td></tr>
                <tr>
                    <td>
                        <select name="os0">
                            <option value="Monday 5pm-6pm £138">Monday 5pm-6pm £138 </option>
                            <option value="Tuesday 4om-5pm  £138">Tuesday 4om-5pm  £138 </option>
                            <option value="Tuesday 5pm-6pm  £138">Tuesday 5pm-6pm  £138 </option>
                            <option value="Tuesday 6pm-7pm £138">Tuesday 6pm-7pm £138 </option>
                            <option value="Tuesday 7pm-8pm  £138">Tuesday 7pm-8pm  £138 </option>
                            <option value="Wednesday 5pm-6pm £138">Wednesday 5pm-6pm £138 </option>
                            <option value="Thursday 5pm-6pm  £138">Thursday 5pm-6pm  £138 </option>
                            <option value="Friday 5pm-6pm  £138">Friday 5pm-6pm  £138 </option>
                            <option value="Saturday 1pm-2pm £138">Saturday 1pm-2pm £138 </option>
                        </select>
                    </td>
                </tr>
                <tr><td><input type="hidden" name="on1" value="Player's Name">Player's Name</td></tr>
                <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                <tr><td><input type="hidden" name="on2" value="Player's Date of Birth">Player's Date of Birth</td></tr>
                <tr><td><input type="text" name="os2" maxlength="200"></td></tr>
            </table>
            <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>

    </td>
</tr>

          
</tbody>
</table>
