<div class="row">
    <h3>Autumn Term 2015</h3>
</div>
<div>Finding booking difficult? <a href="https://youtu.be/psPArQt_Cu8">View our guidance video</a>
</div>
<div class="row team margin-bottom-20">
   
    <div class="col-sm-4">
        <div>
            <h3>Mini Red Tennis</h3>
            <a href="@Url.Action("Red","Booking")"
               class="RedMini" target="_blank">Book a red course</a>
            <br />
            <a class="RedMini" target="_blank"
               href="https://docs.google.com/forms/d/1YlmozTfmfFfxmp_c1yQRKEs6rZazMI6b_MXxl510Jw4/viewform?usp=send_form">Join a waiting list</a>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i>	Monday 4pm</li>
                <li><i class="fa fa-check color-green"></i>	Monday 5pm</li>
                <li><i class="fa fa-check color-green"></i>	Tuesday 4pm</li>
                <li><i class="fa fa-check color-green"></i>	Tuesday 5pm</li>
                <li><i class="fa fa-check color-green"></i>	Wednesday 4pm</li>
                <li><i class="fa fa-check color-green"></i>	Thursday 4pm</li>
                <li><i class="fa fa-check color-green"></i>	Friday 4pm</li>
                <li><i class="fa fa-check color-green"></i>	Saturday 9am</li>
                <li><i class="fa fa-check color-green"></i>	Sunday 10am</li>

            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <h3>Mini Orange Tennis</h3>
            <a class="OrangeMini" 
               href="@Url.Action("Orange","Booking")">
                Book an orange course
            </a>
            <br />
            <a class="OrangeMini" target="_blank"
               href="https://docs.google.com/forms/d/1YlmozTfmfFfxmp_c1yQRKEs6rZazMI6b_MXxl510Jw4/viewform?usp=send_form">
                Join a waiting list
            </a>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i>	Monday 4pm</li>
                <li><i class="fa fa-check color-green"></i>	Tuesday 4pm</li>
                <li><i class="fa fa-check color-green"></i>	Wednesday 5.30pm</li>
                <li><i class="fa fa-check color-green"></i>	Thursday 4pm</li>
                <li><i class="fa fa-check color-green"></i>	Friday 4pm</li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <h3>Mini Green Tennis</h3>
            <a class="GreenMini"
               href="@Url.Action("Green","Booking")">
                Book a green course
            </a>
            <br />
            <a class="GreenMini" target="_blank"
               href="https://docs.google.com/forms/d/1YlmozTfmfFfxmp_c1yQRKEs6rZazMI6b_MXxl510Jw4/viewform?usp=send_form">
                Join a waiting list
            </a>
            <ul class="list-unstyled">
                <li><i class="fa fa-check color-green"></i>	Monday 5pm</li>
                <li><i class="fa fa-check color-green"></i>	Tuesday 4pm</li>
                <li><i class="fa fa-check color-green"></i>	Tuesday 5pm</li>
                <li><i class="fa fa-check color-green"></i>	Friday 4pm</li>

            </ul>
        </div>
    </div>
    
</div>
