@{
    ViewBag.Title = "Our Academy";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Performance</h2></div>

    <div class="row">
        <div class="col-md-9">

            <div class="col-md-4 margin-bottom-25">
                <img class="img-responsive" src="@Url.Content("~/img/performance2.jpg")" alt="" />
            </div>



            <p>
                After a successful launch of our mini tennis academy in September 2015, Wigmore is expanding its performance programme to include yellow ball juniors aged 11 to 17.
               <br />
                Twice weekly Junior squad training is provided for 14 and under players and 18 and under players who meet the minimum playing level. Most squad players should attend twice per week, although an option is available for those who wish to play once per week.
                <br />
                Our Junior Academy is for the most committed tennis players at the club. Training is provided 5 times per week (2 hours each time), and players must commit to a minimum of three times per week.

                All players in our performance programme are expected 

            </p>
        </div>
    </div>
        
            <div class="row">
                <div class="tab-v1">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#minired" data-toggle="tab">Mini red performance</a></li>
                        <li><a href="#squad" data-toggle="tab">Junior squad</a></li>
                        <li><a href="#juniorperformance" data-toggle="tab">Junior performance</a></li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="minired">
                            <div class="row">

                                <p>
                                    <h2>What is the Academy Package?</h2>
                                    <ul class="list-unstyled">
                                        The package costs £160 for the Spring Term and includes the following:
                                        <li><i class="fa fa-check color-green"></i>	2 x 1.5 hr squads per week (total of 30 hours training)</li>
                                        <li><i class="fa fa-check color-green"></i>	2 x Academy T-Shirt (in grey)</li>
                                        <li><i class="fa fa-check color-green"></i>	1 x Academy Sweatshirt (in grey)</li>
                                        <li><i class="fa fa-check color-green"></i>	1 x Skipping rope      </li>
                                        <li><i class="fa fa-check color-green"></i>	1 x Player Notebook* (players will record what they have learned, their goals, match results & who they have played, match tactics and the strengths/weaknesses of their opponents).  </li>
                                    </ul>
                                </p>
                                <p>
                                    <h2> What is the Academy Schedule?</h2>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i>	Mondays 5pm-6.30pm RED AND ORANGE</li>
                                        <li><i class="fa fa-check color-green"></i>	Tuesdays 5pm-6.30pm ORANGE AND GREEN</li>
                                        <li><i class="fa fa-check color-green"></i>	Wednesdays 5pm-6.30pm RED, ORANGE AND GREEN</li>
                                        <li><i class="fa fa-check color-green"></i>	Thursdays 5pm-6.30pm RED and GREEN</li>
                                        <li><i class="fa fa-check color-green"></i> Fridays 5pm-6.30pm RED and ORANGE</li>
                                    </ul>
                                </p>
                                <p>
                                    <h2>What is an Academy player?</h2>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> is committed to 3 hours of tennis a week and attends at least 80% of squads	</li>
                                        <li><i class="fa fa-check color-green"></i>	participates in at least 1 tournament a month </li>
                                        <li><i class="fa fa-check color-green"></i> brings their racket, water, skipping rope and notebook on court</li>
                                        <li><i class="fa fa-check color-green"></i>	demonstrate a strong work ethic</li>
                                        <li><i class="fa fa-check color-green"></i>	have a positive attitude</li>
                                        <li><i class="fa fa-check color-green"></i>	are committed to improving technically, tactically, physically and mentally </li>
                                        <li><i class="fa fa-check color-green"></i> seeks private lessons during holidays </li>
                                        <li><i class="fa fa-check color-green"></i>	makes tennis their number 1 sport </li>
                                    </ul>
                                </p>
                                <p>
                                    <h2> Academy player checklist</h2>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Desire to improve (Always thinks they can be better)  	</li>
                                        <li>
                                            <i class="fa fa-check color-green"></i>	Independence
                                            <ul class="list-unstyled">
                                                <li>&nbsp;&nbsp;-Bring kit on court</li>
                                                <li>&nbsp;&nbsp;-Know their tennis coaching schedule</li>
                                                <li>&nbsp;&nbsp;-Know their tournament schedule</li>
                                                <li>&nbsp;&nbsp;-Know their goals</li>
                                            </ul>
                                        </li>
                                        <li><i class="fa fa-check color-green"></i>  Understand rules and fair play   </li>
                                        <li><i class="fa fa-check color-green"></i>	 Positive attitudes towards training and competing, as well as coaches and fellow players   </li>
                                        <li><i class="fa fa-check color-green"></i>	 Desire to win   </li>
                                        <li><i class="fa fa-check color-green"></i>	 Must engage in regular physical activity outside of tennis    </li>

                                    </ul>
                                </p>
                                <a href="@Url.Content("~/img/Footwork checklist for a performance player.pdf")">Footwork checklist for a Wigmore Academy player (pdf)</a>
                                <br />
                                <a href="@Url.Content("~/img/Tactical Checklist for a performance player.pdf")">Tactical Checklist for a Wigmore Academy player (pdf)</a>

                            </div>
                            <div class="col-md-3">
                                <!-- Contacts -->
                                <div class="headline"><h2>Joining</h2></div>
                                <a href="https://payableform.appspot.com/forms/q1jon">Book for Spring Term 2016</a>
                                <p>
                                    If you would like to be considered for the academy please contact
                                    <ul class="list-unstyled who margin-bottom-30">
                                        <li><a href="#"><i class="fa fa-home"></i>Head of performance: Julia Searle</a></li>
                                        <li><a href="#"><i class="fa fa-envelope"></i>julia@tenniscoaching.london</a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i>07816 004 992</a></li>
                                    </ul>
                                </p>
                                <img class="img-responsive" src="@Url.Content("~/img/JTennis_logo.jpg")" alt="" />

                            </div>
                        </div>



                        <div class="tab-pane fade in" id="squad">
                            <div class="row">
                                squad
                            </div>
                        </div>



                        <div class="tab-pane fade in" id="juniorperformance">
                            <div class="row">
                                junior performance
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
   


