@{
    ViewBag.Title = "Performance Squads";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">
    <div class="headline"><h2>Our Performance Squads</h2></div>

    <div class="row">
        <div class="col-md-9">

            <div class="col-md-4 margin-bottom-25">
                <img class="img-responsive" src="@Url.Content("~/img/performance1.jpg")" alt="" />
            </div>
            <div class="col-md-4 margin-bottom-25">
                <img class="img-responsive" src="@Url.Content("~/img/performance2.jpg")" alt="" />
            </div>
            


            <p>
               We run weekly perfomance squads for all age groups from 8 and under through to 16 and under. Squad attendance is by invitation only.

            </p>

            <p>
                Selected participants:
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i>	are committed to tennis</li>
                    <li><i class="fa fa-check color-green"></i>	have the desire to take their game more seriously</li>
                    <li><i class="fa fa-check color-green"></i>	are prepared to give maximum effort</li>
                    <li><i class="fa fa-check color-green"></i>	demonstrate a strong work ethic</li>
                    <li><i class="fa fa-check color-green"></i>	have a positive attitude</li>
                    <li><i class="fa fa-check color-green"></i>	are committed to improving technically, tactically, physically and mentally </li>
                    <li><i class="fa fa-check color-green"></i>	train a minimum of twice per week all year round</li>
                    <li><i class="fa fa-check color-green"></i>	are competing regularly in internal and exernal tournaments</li>
                </ul>
            </p>
            <p>
               When are our squads?
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i>	8 and under - Friday from 5pm - 6pm</li>
                    <li><i class="fa fa-check color-green"></i>	9 and under - Wednesday from 5pm - 6pm</li>
                    <li><i class="fa fa-check color-green"></i>	10 and under - Wednesday from 5pm - 6pm</li>
                    <li><i class="fa fa-check color-green"></i>	12 and under - Tuesday from 5pm - 6pm</li>
                    <li><i class="fa fa-check color-green"></i>	14 and under - Saturday from 4pm - 5:30pm</li>
                    <li><i class="fa fa-check color-green"></i>	16 and under - Saturday from 5pm - 6:30pm</li>
                    <li><i class="fa fa-check color-green"></i>	Girls only - Friday from 4pm - 5:30pm</li>

                </ul>
            </p>
            
        </div>
        <div class="col-md-3">
            <!-- Contacts -->
            <div class="headline"><h2>Joining</h2></div>
            If you would like to be considered for one of our squads please contact 
            <ul class="list-unstyled who margin-bottom-30">
                <li><a href="#"><i class="fa fa-home"></i>Head of performance: Julia Searle</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>julia@tenniscoaching.london</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>07816 004 992</a></li>
            </ul>
            <img class="img-responsive" src="@Url.Content("~/img/JTennis_logo.jpg")" alt="" />

        </div>
    </div>
</div>


