@{
    ViewBag.Title = "Private lessons";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="row">
        <h3>
            Private coaching
        </h3>
        <p>
            Private coaching sessions are the perfect opportunity for you to develop 
            those areas of your game most important to you. Our Coaching Team are 
            available seven days a week for private lessons (1-2 players) or private 
            groups (3-4 players).
        </p>
        <div class="col-md-12">
            <div class="row margin-bottom-20">
                <div class="col-md-6">
                    <!-- Grey Panel -->
                    <div class="panel panel-grey">
                        <div class="panel-heading">
                            <h3 class="panel-title">Individual coaching (1 - 2 players)</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Coach</th>
                                        <th>1 hour * (1-2 players)</th>
                                        <th>1 hour (3-4 players) </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>Julia	</td><td>£30</td><td>£35</td></tr>
                                    <tr><td>Michael	</td><td>£25</td><td>£35</td></tr>
                                    <tr><td>Joe	    </td><td>£25</td><td>£35</td></tr>
                                    <tr><td>Jimmy	</td><td>£25</td><td>£35</td></tr>
                                    <tr><td>George	</td><td>£25</td><td>£35</td></tr>
                                    <tr><td>Scott	</td><td>£25</td><td>£35</td></tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"> * 30 minute lessons available for £15</td>
                                    </tr>
                                </tfoot>
                               
                            </table>
                            <p>
                                <a href="https://app.acuityscheduling.com/schedule.php?owner=11441442&appointmentType=category:Private+Lessons"
                                   class="Yellow" target="_blank">BOOK A PRIVATE LESSON NOW</a>
                            </p>
                            <p>
                                <h3>Special Offer</h3>
                                Save £20 if you buy a package of 10 lessons.
                                <br />
                                <a href="https://app.acuityscheduling.com/catalog.php?owner=11441442"
                                   class="Yellow" target="_blank">BOOK A 10 LESSON PACKAGE</a>
                            </p>
                            <ul class="list-unstyled">
                                <strong>CANCELLATION POLICY:</strong>
                                <li>	If you provide your coach with more than 48hours notice, you will not be charged</li>
                                <li>	If you provide your coach with between 24-48hrs notice, you will be charged 50% of the lesson cost</li>
                                <li>	If you provide your coach with less than 24hrs notice, you will be charged 100% of the lesson cost</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Grey Panel -->
                </div>
                <div class="col-md-6">
                    <!-- Red Panel -->
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <h3 class="panel-title">Private groups (3 - 4 players)</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Private groups can be booked as an alternative to the group coaching programme. A term must be booked up front in line with the same dates as our terms programme.
                            </p> 
                            <p>
                                However, if you provide 48hours notice of cancellation for a session, you will not miss out and your coach will credit  you for the following term. Private Groups cannot be arranged for more than four players. If you would like a larger group, we can add one to our regular term time coaching programme.
                            </p>
                            <p>
                                The cost is £110 per person for a 3 player group and £100 per person for a 4 player group (based on a 10 week term).
                            </p>
                        </div>
                    </div>
                    <!-- End Red Panel -->
                </div>
            </div>
        </div><!--/col-md-9-->


    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
