@{
    ViewBag.Title = "Private lessons";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container content">
    <div class="row">
        <h3>
            Private coaching
        </h3>
        <p>
            Private coaching sessions are the perfect opportunity for you to develop
            those areas of your game most important to you. Our Coaching Team are
            available seven days a week for private lessons (1-2 players) or private
            groups (3-4 players).
        </p>
        <div class="col-md-12">
            <div class="row margin-bottom-20">
                <div class="col-md-6">
                    <!-- Grey Panel -->
                    <div class="panel panel-grey">
                        <div class="panel-heading">
                            <h3 class="panel-title">Pricing</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Coach</th>
                                        <th>1 hour * (1-2 players)</th>
                                        <th>1 hour (3-4 players) </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>Julia	</td><td>£30</td><td>£35</td></tr>
                                    <tr><td>Michael	</td><td>£25</td><td>£35</td></tr>
                                    <tr><td>Joe	    </td><td>£25</td><td>£35</td></tr>
                                    <tr><td>Jimmy	</td><td>£25</td><td>£35</td></tr>
                                    <tr><td>George	</td><td>£25</td><td>£35</td></tr>
                                    <tr><td>Scott	</td><td>£25</td><td>£35</td></tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"> * 30 minute lessons available for £15</td>
                                    </tr>
                                </tfoot>

                            </table>


                        </div>
                    </div>
                    <!-- End Grey Panel -->

                    <div class="panel panel-grey">
                        <div class="panel-heading">
                            <h3 class="panel-title">Booking</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <a href="@Url.Action("PrivateLessons","Booking")"
                                   class="Yellow">BOOK A PRIVATE LESSON NOW</a>
                            </p>
                            <p>
                                <h3>Special Offer</h3>
                                Save £20 if you buy a package of 10 lessons.
                                <br />
                                <a href="@Url.Action("TenLessons","Booking")"
                                   class="Yellow">BOOK A 10 LESSON PACKAGE</a>
                            </p>
                        </div>
                    </div>



                </div>
                <div class="col-md-6">
                    <!-- Red Panel -->
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <h3 class="panel-title">What are Private groups? (3 - 4 players)</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Private groups can be booked as an alternative to the group coaching programme.
                            </p>
                            <p>
                                Private Groups cannot be arranged for more than four players. If you would like a larger group, we can add one to our regular term time coaching programme.
                            </p>

                        </div>
                    </div>
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <h3 class="panel-title">What are private lessons?</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Private lessons can be shared for 1-2 players and either be booked as one off sessions or as a package of 10.
                            </p>

                        </div>
                    </div>
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <h3 class="panel-title">Cancellation policy</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <ul class="list-unstyled">

                                    <li>	If you cancel your lesson with more than 48hours notice, you will not be charged</li>
                                    <li>	If you cancel your lesson with between 24-48hrs notice, you will be charged 50% of the lesson cost</li>
                                    <li>	If you cancel your lesson with less than 24hrs notice, you will be charged 100% of the lesson cost</li>
                                </ul>
                            </p>

                        </div>
                    </div>
                    <!-- End Red Panel -->
                </div>
            </div>
        </div><!--/col-md-9-->


    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
