@{
    ViewBag.Title = "Terms Dates";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">


    <div class="headline"><h2>Term dates 2016</h2></div>

    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Spring 2016</h2><br />
                <img alt="" src="@Url.Content("~/img/spring.jpg")" class="img-responsive">
                <small>(early bird discount before the 6th December)</small>
                <ul class="list-unstyled">
                    <li>A 10 week course* from w/c 11th January - w/c 21st March (excluding week beginning 15th February)
                    <br />Please note that Friday classes will on consist of 9 weeks - there are no lessons on Good Friday</li>
                </ul>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Summer 2016</h2><br />
                <img alt="" src="@Url.Content("~/img/summer.jpg")" class="img-responsive">
                <small>(early bird discount before the 6th March)</small>
                <ul class="list-unstyled">
                    <li>
                        A 13 week course* from w/c 11th April - w/c 11th July (excluding week beginning 30th May)
                        <br />(*Please note that Monday classes will only consist of 12 weeks - there are no lessons on 2nd May)
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Autumn 2016</h2><br />
                <img alt="" src="@Url.Content("~/img/autumn.jpg")" class="img-responsive">
                <small> (early bird discount before the 12th July)</small>
                <ul class="list-unstyled">
                    <li>A 13 week course from w/c 12th September - w/c 12th December (excluding week beginning 24th October)</li>
                </ul>
            </div>
        </div>


    </div>

    <hr class="margin-bottom-40">
</div>
        <!--/container-->
        <!--=== End Content Part ===-->
