@{
    ViewBag.Title = "Holiday Camp Dates";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">


    <div class="container content">


        <div class="headline"><h2>Term dates 2017</h2></div>

        <div class="row">

            <div class="col-sm-4">
                <div class="thumbnail-style heading">
                    <h2>Spring 2017</h2><br />
                    <img alt="" src="@Url.Content("~/img/spring.jpg")" class="img-responsive">
                    <small>(early bird discount before the 6th December)</small>
                    <ul class="list-unstyled">
                        <li>
                            A 10 week course* from w/c 16th January - w/c 27st March (excluding week beginning 13th February)
                            <!--<br />Please note that Friday and Saturday classes will on consist of 9 weeks - there are no lessons on Good Friday -->
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style heading">
                    <h2>Summer 2017</h2><br />
                    <img alt="" src="@Url.Content("~/img/summer.jpg")" class="img-responsive">
                    <small>(early bird discount before the 6th March)</small>
                    <ul class="list-unstyled">
                        <li>
                            A 12 week course* from w/c 18th April - w/c 15th July (excluding week beginning 29th May)
                            <br />(*Please note that Monday classes will only consist of 11 weeks - there are no lessons on 1st May)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style heading">
                    <h2>Autumn 2017</h2><br />
                    <img alt="" src="@Url.Content("~/img/autumn.jpg")" class="img-responsive">
                    <small> (early bird discount before the 12th July)</small>
                    <ul class="list-unstyled">
                        <li>A 13 week course from w/c 11th September - w/c 16th December (excluding week beginning 23th October)</li>
                    </ul>
                </div>
            </div>



        </div>

        <hr class="margin-bottom-40">
    </div>
    <!--/container-->
    <!--=== End Content Part ===-->
