@{
    ViewBag.Title = "Holiday Camp Dates";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<!--=== Content Part ===-->
<div class="container content">


    <div class="headline"><h2>Term dates 2015</h2></div>

    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Spring 2015</h2><br />
                <img alt="" src="@Url.Content("~/img/spring.jpg")" class="img-responsive">
                <small>(early bird discount before the 7th December)</small>
                <ul class="list-unstyled">
                    <li>A 10 week course from w/c 12th January - w/c 23rd March (excluding week beginning 16th February)</li>
                </ul>
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Summer 2015</h2><br />
                <img alt="" src="@Url.Content("~/img/summer.jpg")" class="img-responsive">
                <small>(early bird discount before the 7th March)</small>
                <ul class="list-unstyled">
                    <li> A 12 week course* from w/c 13th April - w/c 6th July (excluding week beginning 25th May)
                    <br />(*PLEASE NOTE that Monday classes will only consist of 11 weeks - there are no lessons on 4th May) </li>           
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h2>Autumn 2015</h2><br />
                <img alt="" src="@Url.Content("~/img/autumn.jpg")" class="img-responsive">
                <small> (early bird discount before the 12th July)</small>
                <ul class="list-unstyled">         
                    <li>A 12 week course from w/c 7th September - w/c 30th November (excluding week beginning 26th October)</li>
                </ul>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h3>Tots Classes</h3>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i>Monday 4pm  (3-4 yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 9am (3-4yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 10am  (3-4yrs)</li>
                </ul>
                <h3>Mini Red Classes</h3>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i>Monday 4pm (7-8yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Monday 4pm (5-6yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 4pm (5-7yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 5pm (5-6yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 5pm (7-8yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Wednesday 4pm (6-8yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Thursday 4pm (5-6yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Thursday 4pm (7-8yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 4pm (4-5yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 4pm (6-7yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 5pm Squad</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 9am (5-7yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 10am (5-7yrs)</li>
                </ul>
                <h3>Mini Orange Classes</h3>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i>Monday 4pm (8-9yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 4pm (8-9yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Wednesday 5pm Squad</li>
                    <li><i class="color-green fa fa-check"></i>Thursday 4pm (8-9yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 4pm (8-9yrs)</li>
                </ul>
                <h3>Mini Green Classes</h3>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i>Monday 4pm (10-11yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 4pm (10-11yrs)</li>
                </ul>
                <h3>Junior Classes</h3>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i>Monday 5pm (13-14yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Monday 5pm Girls (14-17yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 5pm (10-12yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 5pm Squad (12 & U)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 6pm Boys (13-17yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 6pm Girls (13-15yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 7pm Boys (14-17yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 4pm Squad (Girls)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 5pm (10-12yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 1pm (12-15yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 4pm Squad (14 & U)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 5pm Squad (18 & U)</li>
                </ul>
            </div>
        </div>
            
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h3>Tots Classes</h3>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i>Monday 4pm  (3-4 yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 9am (3-4yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 10am  (3-4yrs)</li>
                </ul>
                <h3>Mini Red Classes</h3>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i>Monday 4pm (7-8yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Monday 4pm (5-6yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 4pm (5-7yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 5pm (5-6yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 5pm (7-8yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Wednesday 4pm (6-8yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Thursday 4pm (5-6yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Thursday 4pm (7-8yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 4pm (4-5yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 4pm (6-7yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 5pm Squad</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 9am (5-7yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 10am (5-7yrs)</li>
                </ul>
                <h3>Mini Orange Classes</h3>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i>Monday 4pm (8-9yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 4pm (8-9yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Wednesday 5pm Squad</li>
                    <li><i class="color-green fa fa-check"></i>Thursday 4pm (8-9yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 4pm (8-9yrs)</li>
                </ul>
                <h3>Mini Green Classes</h3>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i>Monday 4pm (10-11yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 4pm (10-11yrs)</li>
                </ul>
                <h3>Junior Classes</h3>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i>Monday 5pm (13-14yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Monday 5pm Girls (14-17yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 5pm (10-12yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 5pm Squad (12 & U)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 6pm Boys (13-17yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 6pm Girls (13-15yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Tuesday 7pm Boys (14-17yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 4pm Squad (Girls)</li>
                    <li><i class="color-green fa fa-check"></i>Friday 5pm (10-12yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 1pm (12-15yrs)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 4pm Squad (14 & U)</li>
                    <li><i class="color-green fa fa-check"></i>Saturday 5pm Squad (18 & U)</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail-style heading">
                <h3>Tots Classes</h3>
                <ul class="list-unstyled">
                    <li>TBA</li>
                </ul>
                <h3>Mini Red Classes</h3>
                <ul class="list-unstyled">
                    <li>TBA</li>
                </ul>
                <h3>Mini Orange Classes</h3>
                <ul class="list-unstyled">
                    <li>TBA</li>
                </ul>
                <h3>Mini Green Classes</h3>
                <ul class="list-unstyled">
                    <li>TBA</li>
                </ul>
                <h3>Junior Classes</h3>
                <ul class="list-unstyled">
                    <li>TBA</li>
                </ul>
            </div>
        </div>
    </div>
            


            <hr class="margin-bottom-40">

</div>
        <!--/container-->
        <!--=== End Content Part ===-->
